<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Terminals & Wiring</a>
        </div>
    </div>
    <div class="title">
        <h1>Car Terminals & Wiring</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
                    </li>
                    <li class="actual">
                        <a>Terminals & Wiring</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Electronics-Adapters-Plugs">Adapters & Plugs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Audio-Interface-Cables">Audio Interface Cables</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Terminals-Wiring-Distribution-Blocks">Distribution Blocks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Fuses-Fuse-Holders">Fuses & Fuse Holders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Terminals-Wiring-Relays">Relays</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Steering-Wheel-Interfaces">Steering Wheel Interfaces</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Terminals-Connectors">Terminals & Connectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Wiring-Wiring-Harnesses">Wiring & Wiring Harnesses</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Terminals-Wiring-Products">Other Terminals & Wiring</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Wiring-Wiring-Harnesses">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/categories/1.webp">
                        <div>Wiring & Wiring Harnesses</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Fuses-Fuse-Holders">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/categories/2.webp">
                        <div>Fuses & Fuse Holders</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Terminals-Connectors">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/categories/3.webp">
                        <div>Terminals & Connectors</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Terminals-Wiring-Relays">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/categories/4.webp">
                        <div>Relays</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Electronics-Adapters-Plugs">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/categories/5.webp">
                        <div>Adapters & Plugs</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Terminals-Wiring-Distribution-Blocks">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/categories/6.webp">
                        <div>Distribution Blocks</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Audio-Interface-Cables">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/categories/7.webp">
                        <div>Audio Interface Cables</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Steering-Wheel-Interfaces">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/categories/8.webp">
                        <div>Steering Wheel Interfaces</div>
                    </a>
                    <a class="item" routerLink="/c/Other-Car-Terminals-Wiring-Products">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/categories/9.webp">
                        <div>Other Terminals & Wiring</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/terminals-wiring/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
