<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Engine Mounts</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Engine Mounts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
                    </li>
                    <li class="actual">
                        <a>Engine Mounts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Connecting-Rods-Parts">Connecting Rods & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Crankshafts">Crankshafts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Cylinder-Heads">Cylinder Heads</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engines">Engines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Bearings">Engine Bearings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Blocks">Engine Blocks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Rebuild-Kits">Engine Rebuild Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Sensors-Switches">Engine Sensors & Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Gaskets-Seals-Hardware">Gaskets, Seals & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Drain-Plugs-Filler-Caps-Dipsticks">Oil Drain Plugs, Filler Caps & Dipsticks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Filters">Oil Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Pumps-Parts">Oil Pumps & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Pans">Oil Pans</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Pistons-Rings">Pistons & Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Service-Kits">Service Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Timing-Components-Kits">Timing Components & Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Valvetrain-Components">Valvetrain Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Engine-Parts">Other Engine Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/categories/1.webp">
                        <div>Engine Mount Brackets</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/categories/2.webp">
                        <div>Engine Mount Kits</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/categories/3.webp">
                        <div>Engine Mounts</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/categories/4.webp">
                        <div>Engine Torque Strut Mounts</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-mounts/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
