<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>In-Car Entertainment</a>
        </div>
    </div>
    <div class="title">
        <h1>In-Car Entertainment Equipment</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
                    </li>
                    <li class="actual">
                        <a>In-Car Entertainment</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Audio-Amplifiers-for-In-Car-Entertainment">Amplifiers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-DVD-Players">Car DVD Players</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Stereos-Head-Units">Car Stereos & Head Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-CD-DVD-Changers">CD & DVD Changers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-In-Car-Sound-Systems">Complete Sound Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Audio-Crossovers">Crossovers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Audio-Equalizers">Equalizers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-FM-Transmitters">FM Transmitters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Multimedia-Players">Multimedia Players</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Audio-Signal-Processors-for-In-Car-Entertainment">Signal Processors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speakers">Speakers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Subwoofers-for-In-Car-Entertainment">Subwoofers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-In-Car-Entertainment-Equipment">Other In-Car Entertainment</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Stereos-Head-Units">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/1.webp">
                        <div>Stereos & Head Units</div>
                    </a>
                    <a class="item" routerLink="/c/Audio-Amplifiers-for-In-Car-Entertainment">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/2.webp">
                        <div>Amplifiers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Speakers">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/3.webp">
                        <div>Speakers</div>
                    </a>
                    <a class="item" routerLink="/c/Subwoofers-for-In-Car-Entertainment">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/4.webp">
                        <div>Subwoofers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-FM-Transmitters">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/5.webp">
                        <div>FM Transmitters</div>
                    </a>
                    <a class="item" routerLink="/c/Car-CD-DVD-Changers">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/6.webp">
                        <div>CD & DVD Changers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Multimedia-Players">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/7.webp">
                        <div>Multimedia Players</div>
                    </a>
                    <a class="item" routerLink="/c/Car-DVD-Players">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/8.webp">
                        <div>DVD Players</div>
                    </a>
                    <a class="item" routerLink="/c/Audio-Signal-Processors-for-In-Car-Entertainment">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/9.webp">
                        <div>Signal Processors</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Audio-Equalizers">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/categories/10.webp">
                        <div>Equalizers</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/in-car-entertainment/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
