<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Engines & Engine Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Engines & Engine Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Engines & Engine Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Connecting-Rods-Parts">Connecting Rods & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Crankshafts">Crankshafts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Cylinder-Heads">Cylinder Heads</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engines">Engines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Bearings">Engine Bearings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Blocks">Engine Blocks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Mounts">Engine Mounts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Rebuild-Kits">Engine Rebuild Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Sensors-Switches">Engine Sensors & Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Gaskets-Seals-Hardware">Gaskets, Seals & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Drain-Plugs-Filler-Caps-Dipsticks">Oil Drain Plugs, Filler Caps & Dipsticks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Filters">Oil Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Pumps-Parts">Oil Pumps & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Pans">Oil Pans</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Pistons-Rings">Pistons & Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Service-Kits">Service Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Timing-Components-Kits">Timing Components & Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Valvetrain-Components">Valvetrain Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Engine-Parts">Other Engine Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Engines">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/1.webp">
                        <div>Engines</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Valvetrain-Components">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/2.webp">
                        <div>Valvetrain Components</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Mounts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/3.webp">
                        <div>Engine Mounts</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Cylinder-Heads">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/4.webp">
                        <div>Cylinder Heads</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Pistons-Rings">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/5.webp">
                        <div>Pistons & Rings</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Gaskets-Seals-Hardware">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/6.webp">
                        <div>Gaskets, Seals & Hardware</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Oil-Filters">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/7.webp">
                        <div>Oil Filters</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Rebuild-Kits">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/8.webp">
                        <div>Engine Rebuild Kits</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Oil-Pans">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/9.webp">
                        <div>Oil Pans</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Crankshafts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/10.webp">
                        <div>Crankshafts</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="categories">
                <h2>Shop More Categories</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Oil-Pumps-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/11.webp">
                        <div>Oil Pumps & Parts</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Bearings">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/12.webp">
                        <div>Engine Bearings</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Blocks">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/13.webp">
                        <div>Engine Blocks</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Timing-Components-Kits">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/14.webp">
                        <div>Engine Timing Gears</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Oil-Drain-Plugs-Filler-Caps-Dipsticks">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/15.webp">
                        <div>Oil Drain Plugs, Filler Caps & Dipsticks</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Connecting-Rods-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/16.webp">
                        <div>Connecting Rods & Parts</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Sensors-Switches">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/17.webp">
                        <div>Engine Sensors & Switches</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Service-Kits">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/categories/18.webp">
                        <div>Service Kits</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes-link">
                <h2>Shop by Make</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Abarth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Alfa Romeo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AM General</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>American LaFrance</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Aston Martin</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Auburn</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Austin</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bentley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bugatti</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Cadillac</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Caterpillar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Crosley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daewoo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daihatsu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Datsun</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DeLorean</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DKW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Duesenberg</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Durant</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Edsel</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Essex</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Excalibur</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>FAW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ferrari</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Fiat</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Foton</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Freightliner</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Geo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Goggomobil</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Henry J</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hillman</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hino</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hudson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hupmobile</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hyundai</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>International Harvester</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Iveco</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kaiser</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kenworth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kia</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lada</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lamborghini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lancia</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>LaSalle</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lotus</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mack</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>McLaren</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Metropolitan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi Fuso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Moon</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Morris</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Moskvich</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nash</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Oakland</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Oldsmobile</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Omega</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Opel</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Packard</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Panhard</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peterbilt</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peugeot</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pierce-Arrow</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Renault</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Reo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Riley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rolls-Royce</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Saleen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Salmson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Shelby</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Simca</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Smart</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Spartan Motors</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SRT</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SsangYong</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Studebaker</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Subaru</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sunbeam</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Tesla</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Toyota</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>UD</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Unimog</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volkswagen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volvo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Whippet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Willys</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Windsor</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Wolseley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Yugo</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
