<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Audio, Communication & Navigation</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV & UTV Audio, Communication & Navigation</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Audio, Communication & Navigation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Accessory-Mounts">Accessory Mounts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Amplifiers">Amplifiers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Antennas">Antennas</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Complete-Audio-Kits">Complete Audio Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-GPS-Navigation">GPS & Navigation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Headsets-Intercoms">Headsets & Intercoms</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Infotainment-Multimedia-Players">Infotainment & Multimedia Players</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Soundbars">Soundbars</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Speakers">Speakers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Stereos-Radios">Stereos & Radios</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Audio-Communication-Navigation-Wiring-Harnesses-Cables-Connectors-for-ATVs-Side-by-Sides-UTVs">Wiring Harnesses, Cables & Connectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Audio-Communication-Navigation">Other Audio, Communication & Navigation</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Headsets-Intercoms">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/1.webp">
                        <div>Headsets & Intercoms</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Complete-Audio-Kits">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/2.webp">
                        <div>Complete Audio Kits</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Stereos-Radios">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/3.webp">
                        <div>Stereos & Radios</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-GPS-Navigation">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/4.webp">
                        <div>GPS & Navigation</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Speakers">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/5.webp">
                        <div>Speakers</div>
                    </a>
                    <a class="item" routerLink="/c/Audio-Communication-Navigation-Wiring-Harnesses-Cables-Connectors-for-ATVs-Side-by-Sides-UTVs">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/6.webp">
                        <div>Wiring Harnesses, Cables & Connectors</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Amplifiers">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/7.webp">
                        <div>Amplifiers</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Infotainment-Multimedia-Players">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/8.webp">
                        <div>Infotainment & Multimedia Players</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Soundbars">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/9.webp">
                        <div>Soundbars</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Accessory-Mounts">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/categories/10.webp">
                        <div>Accessory Mounts</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/brands/1.webp">
                        <div>SSV Works</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/brands/2.webp">
                        <div>Boss Audio</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/brands/3.webp">
                        <div>Kuryakyn</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/brands/4.webp">
                        <div>Navatlas</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/audio-communication-navigation/brands/5.webp">
                        <div>MB Quart</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
