<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Parts">Boat Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Inboard-Engines-Components">Inboard Engines & Components</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Ignition & Starting Systems</a>
        </div>
    </div>
    <div class="title">
        <h1>Inboard Ignition & Starting Systems</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Inboard-Engines-Components">Inboard Engines & Components</a>
                    </li>
                    <li class="actual">
                        <a>Ignition & Starting Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-Inboard-Diesel-Engines">Complete Diesel Engines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-Inboard-Gas-Engines">Complete Gas Engines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Inboard-Belts-Pulleys">Belts & Pulleys</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Inboard-Electrical-Systems">Electrical Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Inboard-Exhaust-Systems">Exhaust Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Inboard-Intake-Fuel-Systems">Intake & Fuel Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Inboard-Oil-Systems">Oil Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Inboard-Transmission-Components">Transmission & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Inboard-Engines-Components">Other</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
