<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Parts">Boat Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Memorabilia</a>
        </div>
    </div>
    <div class="title">
        <h1>Boat Memorabilia</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Boat-Parts">Boat Parts</a>
                    </li>
                    <li class="actual">
                        <a>Memorabilia</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Accessories-Gear">Accessories & Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Anchoring-Docking">Anchoring, Docking</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Body-Parts">Body Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Controls-Steering">Controls & Steering</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Deck-Cabin-Hardware">Deck & Cabin Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Electrical-Lighting">Electrical & Lighting</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Electronics-Navigation">Electronics & Navigation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Inboard-Engines-Components">Inboard Engines & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Interior-Cabin-Galley">Interior, Cabin & Galley</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Jet-Drives">Jet Drives</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Marine-Batteries">Marine Batteries</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Marine-Rope">Marine Rope</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Engines-Components">Outboard Engines & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Plumbing-Ventilation">Plumbing & Ventilation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Propellers">Propellers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sailing-Hardware-Gear">Sailing Hardware & Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Service-Tools">Service Tools</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Motors-Components">Sterndrive Motors & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Trailer-Parts">Trailer Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Trolling-Motors-Components">Trolling Motors & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Boat-Parts">Other</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
