<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Exterior-Parts-Accessories">Exterior Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Bumpers & Components</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Bumpers & Components</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Exterior-Parts-Accessories">Exterior Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Bumpers & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Dams">Air Dams</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Bumper-Inserts-Covers">Bumper Inserts & Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Bumpers-Reinforcements">Bumpers & Reinforcements</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/categories/1.webp">
                        <div>Bumpers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/categories/2.webp">
                        <div>Bumpers Covers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/categories/3.webp">
                        <div>Bumper Inserts</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/categories/4.webp">
                        <div>Bumper Rail Reinforcements</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/categories/5.webp">
                        <div>Bumper Reinforcement Beams</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="categories">
                <h2>Shop By Placement</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/placement/1.webp">
                        <div>Front</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/placement/2.webp">
                        <div>Rear</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/placement/3.webp">
                        <div>Side</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/placement/4.webp">
                        <div>Lower</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/bumpers-components/placement/5.webp">
                        <div>Upper</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
