<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-GPS-Satellite-Navigation-Systems">GPS & Sat Nav Devices</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-GPS-Accessories">GPS Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Antennas</a>
        </div>
    </div>
    <div class="title">
        <h1>GPS Antennas for Car GPS & Sat Nav Devices</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-GPS-Accessories">GPS Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Antennas</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-GPS-Adapters-Chargers">Adapters & Chargers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Cases-Skins-for-Car-GPS-Sat-Nav-Devices">Cases & Skins</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Holders-Mounts-for-Car-GPS-Sat-Nav-Devices">Holders & Mounts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-GPS-Replacement-Batteries">Replacement Batteries</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-GPS-Replacement-Screens">Replacement Screens</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Screen-Protectors-for-Car-GPS-Sat-Nav-Devices">Screen Protectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-GPS-Accessories">Other GPS Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
