<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Advanced-Driver-Assistance-Systems">Advanced Driver Assistance Systems</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Cruise Control Components</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Cruise Control Components</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Advanced-Driver-Assistance-Systems">Advanced Driver Assistance Systems</a>
                    </li>
                    <li class="actual">
                        <a>Cruise Control Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-ADAS-Control-Modules">ADAS Control Modules</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Alert-Warning-Devices">Alert & Warning Devices</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Lidar-Radar-Sensors">Lidar & Radar Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Parking-Assistance">Parking Assistance</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Visible-Cameras">Visible Cameras</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Advanced-Driver-Assistance-Systems">Other Advanced Driver Assistance Systems</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/cruise-control-components/categories/1.webp">
                        <div>Brackets</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/cruise-control-components/categories/2.webp">
                        <div>Button Consoles</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/cruise-control-components/categories/3.webp">
                        <div>Cruise Control Units</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Alert-Warning-Devices">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/cruise-control-components/categories/4.webp">
                        <div>Levers</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/cruise-control-components/makes/1.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/cruise-control-components/makes/2.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/cruise-control-components/makes/3.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/cruise-control-components/makes/4.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/cruise-control-components/makes/5.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
