.item-container {
    display: flex;
    margin: 20px 20px 0px 20px;
}

.photos-container {
    display: flex;
}

.photos-container .side {
    display: flex;
    flex-direction: column;
}

.photos-container .side div {
    margin: 10px 0;
}

.photos-container .side div:first-child {
    margin-top: 0px;
}

.photos-container .side .image img {
    max-width: 40px;
    cursor: pointer;
}

.photos-container .main {
    width: 495px;
    margin: 0 20px;
}

.photos-container .main img {
    width: 100%;
}

.description-container {
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;
}

.description-container .divider {
    margin: 20px 0;
    color: rgba(201, 201, 201, 0.8);
}

.description-container .title {
    font-weight: 700;
}

.description-container .condition {
    display: flex;
    gap: 10px;
}

.description-container .condition .description {
    display: flex;
    flex-direction: column;
}

.description-container .condition .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .condition .description .options {
    font-style: italic;
}

.description-container .condition .label {
    font-weight: 700;
}

.description-container .options {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.description-container .options .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .quantity {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.description-container .available {
    display: flex;
    gap: 5px;
}

.description-container .quantity .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .quantity mat-form-field {
    width: 45px;
}

::ng-deep mat-form-field .mat-mdc-text-field-wrapper {
    padding: 0 10px;
}

::ng-deep mat-form-field .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.description-container .price {
    display: flex;
    gap: 10px;
}

.description-container .price .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .price .label {
    flex: 1 1 auto;
}

.description-container .price .label .info {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.description-container .price .label .info a {
    text-decoration: none;
}

.description-container .price .label .info a mat-icon {
    font-size: 18px;    
    color: #444;
    display: flex;
    align-items: center;
}

.description-container .price .label .info .logo img {
    width: 15px;
}

.description-container .buy {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.description-container .buy button {
    width: 100%;
    cursor: pointer;
}

.description-container .cart {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.description-container .cart button {
    width: 100%;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}

.description-container .shipping {
    display: flex;
    gap: 10px;
}

.description-container .shipping .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
    flex: 0 0 90px;
}

.description-container .shipping .label .location {
    margin-top: 5px;
    font-size: .75rem;
    color: #707070;
}

.description-container .delivery {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.description-container .delivery .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .returns {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.description-container .returns .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .payments {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.description-container .payments .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .payments .label .info .content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.description-container .payments .label .info .content img {
    width: 10px;
}

.description-container .payments .label .info .erc20 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.description-container .payments .label .info .erc20 a {
    text-decoration: none;
}
    
.description-container .payments .label .info .erc20 mat-icon {
    font-size: 18px;    
    color: #444;
    display: flex;
    align-items: center;
}

.item-container .extra {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-container .extra .guarantee {
    padding: 10px;
    border: solid 1px #000000;
    border-radius: 4px;
}

.item-container .extra .guarantee .title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
}

.item-container .extra .guarantee .description {
    display: flex;
    gap: 10px;
    align-items: center;
}

.item-container .extra .guarantee .description img {
    height: 40px;
}

.item-container .extra .seller {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid 1px #000000;
    border-radius: 4px;
}

.item-container .extra .seller .title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
}

.item-container .extra .seller .description {
    display: flex;
    cursor: pointer;
}

.item-container .extra .seller .description .address {
    color: #005da1;
}

.item-container .extra .seller .description .stars {
    display: flex;
    margin-left: 5px;
}

.item-container .extra .seller .description .stars .start {
    display: flex;
}

.item-container .extra .seller .description .stars .start .number {
    color: #005da1;
}

.item-container .extra .seller .description .stars .img img { 
    width: 20px;
}

.item-container .extra .seller .feedback {
    font-size: 12px;
}

.item-container .extra .seller mat-divider {
    margin: 10px 0;
}

.item-container .extra .seller .save button {
    width: 100%;
}

.item-container .extra .seller .contact {
    margin-top: 10px;
}

.item-container .extra .seller .contact button {
    width: 100%;
}

.item-container .extra .seller .store {
    margin-top: 10px;
}

.item-container .extra .seller .store button {
    width: 100%;
}

.info-container {
    margin-top: 60px;
}

.info-container .about {
    padding: 10px;
}

.info-container .shipping {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-container .shipping .container {
    padding: 20px;
    border: solid 1px #b3b3b3;
    display: flex;
    flex-direction: column;
}

.info-container .shipping .location, .info-container .shipping .shipping, .info-container .shipping .excludes, .info-container .shipping .country {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 10px;
    gap: 0;
}

.info-container .shipping .country {
    align-items: center;
    gap: 15px;
}

.info-container .shipping .location .title, .info-container .shipping .shipping .title, .info-container .shipping .excludes .title, .info-container .shipping .country .title {
    font-size: 16px;
}

.info-container .shipping .location .content, .info-container .shipping .shipping .content, .info-container .shipping .excludes .content, .info-container .shipping .country .content {
    font-size: 16px;
    margin-left: 10px;
}

.info-container .shipping .shipping .content, .info-container .shipping .excludes .content {
    color: #707070;
}

.info-container .shipping .delivery-rates table {
    width: 100%;
}

.info-container .shipping .delivery-rates table, .info-container .shipping .delivery-rates th, .info-container .shipping .delivery-rates td {
    border: solid 1px #707070;
    border-collapse: collapse;
}

.info-container .shipping .delivery-rates table th {
    background-color: #707070;
}

.info-container .shipping .returns table {
    width: 100%;
}

.info-container .shipping .returns table th {
    background-color: #707070;
}

.info-container .shipping .returns table, .info-container .shipping .returns th, .info-container .shipping .returns td {
    border: solid 1px #707070;
    border-collapse: collapse;
}

.info-container .shipping .payment table {
    width: 100%;
}

.info-container .shipping .payment table th {
    background-color: #707070;
}

.info-container .shipping .payment table, .info-container .shipping .payment th, .info-container .shipping .payment td {
    border: solid 1px #707070;
    border-collapse: collapse;
}

.info-container .shipping .payment .pay-items {
    display: flex;
}

.info-container .shipping .payment .pay-items div {
    padding: 5px;
    margin: 5px;
    border: solid 1px #000000;
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-container .shipping .payment .pay-items .eth img {
    width: 12px;
}

.info-container .shipping .payment .pay-items .erc20 a {
    text-decoration: none;
}

.info-container .shipping .payment .pay-items .erc20 mat-icon {
    font-size: 18px;    
    color: #444;
    display: flex;
    align-items: center;
}

.info-container .reviews {
    margin: 10px;
    display: flex;
    gap: 100px;
}

.info-container .reviews .side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-container .reviews .side .stars {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-container .reviews .side .stars > img {
    width: 120px;
}

.info-container .reviews .side .stars div {
    font-size: 20px;
}

.info-container .reviews .side .quantity {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.68);
}

.info-container .reviews .side .filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-container .reviews .side .filter .row {
    display: flex;
    gap: 20px;
    color: #005da1;
}

.info-container .reviews .side .filter .row:hover {
    color: rgb(92, 91, 91);
    cursor: pointer;
}

.info-container .reviews .side .filter .row .progress {
    width: 80px;
    display: flex;
    align-items: center; 
}

.info-container .reviews .side .opinion-btn {
    margin-top: 20px;
}

.info-container .reviews .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-container .reviews .content > h1{
    margin-bottom: -10px;
}

.info-container .reviews .content .review-item {
    display: flex;
    flex-direction: column;
}

.info-container .reviews .content .review-item .author {
    margin-bottom: 4px;
}

.info-container .reviews .content .review-item .title {
    display: flex;
    align-items: center;
}

.info-container .reviews .content .review-item .title .stars {
    margin-right: 5px;
}

.info-container .reviews .content .review-item .title .stars img {
    width: 100px;
}

.info-container .reviews .content .review-item .date {
    margin-bottom: 4px;
    color: #565959;
}
