<div class="item-container">
    <div class="photos-container">
        <div class="side">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </div>
        <div class="main">
            <img [src]="selectedImage">
        </div>
    </div>
    <div class="description-container">
        <div class="title">{{item?.title}}</div>
        <div class="divider">
            <mat-divider></mat-divider>
        </div>
        <div class="condition">
            <div class="title">Condition:</div>
            <div class="description">
                <div *ngIf="item?.condition === 1" class="label">New</div>
                <div *ngIf="item?.condition === 2" class="label">Used</div>
                <div *ngIf="item?.condition === 3" class="label">Old</div>
                <div class="options">“{{item?.description}}”</div>
            </div>
        </div>
        <div class="quantity">
            <div class="title">Quantity:</div>
            <form>
                <mat-form-field appearance="outline">
                    <input matInput value="1">
                </mat-form-field>
            </form>              
        </div>
        <div class="divider">
            <mat-divider></mat-divider>
        </div>
        <div *ngIf="item" class="price">
            <div class="title">Price:</div>
            <div class="label">
                <div class="info">
                    <div>{{item!.prices[item!.prices.length - 1]}}</div>
                    <div *ngIf="!item?.isErc20Price">ETH</div>
                    <div *ngIf="!item?.isErc20Price">ETH-LOGO</div>
                    <div *ngIf="item?.isErc20Price">GET-ERC20-SYMBOL</div>
                    <div>ERC20-LINK</div>
                </div>
                <div class="buy">
                    <button mat-raised-button color="primary">Buy</button>
                </div>
                <div class="cart">
                    <button mat-raised-button>Add to cart</button>
                </div>
            </div>
        </div>
        <div class="divider">
            <mat-divider></mat-divider>
        </div>
        <div class="offer"></div>
        <div class="watchlist"></div>
        <div class="shipping">
            <div class="title">Shipping:</div>
            <div class="label">
                <div class="info">
                    May not ship to Spain.<br>Read item description or contact seller for shipping options.
                </div>
                <div class="location">
                    Located in: {{item?.localization}}
                </div>
            </div>
        </div>
        <div class="delivery">
            <div class="title">Delivery:</div>
            <div class="label">
                <div class="info">
                    Varies
                </div>
            </div>
        </div>
        <div class="returns">
            <div class="title">Returns:</div>
            <div class="label">
                <div class="info">
                    30 day returns. Buyer pays for return shipping.
                </div>
            </div>
        </div>
        <div class="payments"></div>
    </div>
    <div class="extra">
        <div class="guarantee">
            <div class="title">Shop with confidence</div>
            <div class="description">The money is held by a third-party, in this case, a smart contract, so if you do not get your item, you can get your money back.</div>
        </div>
        <div class="seller"></div>
    </div>
</div>
<div class="info-container">
    <mat-tab-group>
        <mat-tab label="About this item">
            <div class="about">
                {{item?.about}}
            </div>
        </mat-tab>
        <mat-tab label="Shipping, returns & payments">
            <div class="shipping">
                <div class="container">
                    <h1>Shipping and handling</h1>
                    <div class="location">
                        <div class="title">Item location:</div>
                        <div class="content">
                            <b>{{item?.localization}}</b>
                        </div>
                    </div>
                    <div class="shipping">
                        <div class="title">Ships to:</div>
                        <div class="content">USA, Worldwide</div>
                    </div>
                    <div class="excludes">
                        <div class="title">Excludes:</div>
                        <div class="content">USA</div>
                    </div>
                    <div class="country">
                        <div class="title">Change country</div>
                        <mat-form-field appearance="outline">
                            <mat-label>Select country</mat-label>
                            <mat-select>
                                <mat-option value="1">
                                    1
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-flat-button color="primary" class="rates">Get rates</button>
                    </div>
                    <div class="delivery-rates">
                        <table>
                            <tr>
                                <th>Shipping and handling</th>
                                <th>To</th>
                                <th>Service</th>
                                <th>Delivery</th>
                            </tr>
                            <tr>
                                <td>0.2 ETH</td>
                                <td>Spain</td>
                                <td>eBay International Standard Delivery</td>
                                <td>Estimated delivery time varies</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <h1>Return policy</h1>
                    <div class="returns">
                        <table>
                            <tr>
                                <th>Return policy details</th>
                            </tr>
                            <tr>
                                <td>Seller does not accept returns</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <h1>Payment details</h1>
                    <div class="payment">
                        <table>
                            <tr>
                                <th>Payment methods</th>
                            </tr>
                            <tr>
                                <td class="pay-items">
                                    <div>
                                        ETH
                                        <img src="">
                                    </div>
                                    <div>
                                        ERC-20
                                        <img src="">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Reviews">
            <div class="reviews">
                <div class="side">
                    <div class="container">
                        <h1>Clients opinions</h1>
                        <div class="stars">
                            <img *ngIf="medianReview === 5" src="/assets/stars/five-stars.png">
                            <img *ngIf="medianReview > 4 && medianReview < 5" src="/assets/stars/four-half-stars.png">
                            <img *ngIf="medianReview === 4" src="/assets/stars/four-stars.png">
                            <img *ngIf="medianReview > 3 && medianReview < 4" src="/assets/stars/three-half-stars.png">
                            <img *ngIf="medianReview === 3" src="/assets/stars/three-stars.png">
                            <img *ngIf="medianReview > 2 && medianReview < 3" src="/assets/stars/two-half-stars.png">
                            <img *ngIf="medianReview === 2" src="/assets/stars/two-stars.png">
                            <img *ngIf="medianReview > 1 && medianReview < 2" src="/assets/stars/one-half-stars.png">
                            <img *ngIf="medianReview === 1" src="/assets/stars/one-stars.png">
                            <img *ngIf="medianReview > 0 && medianReview < 1" src="/assets/stars/zero-half-stars.png">
                            <img *ngIf="medianReview === 0" src="/assets/stars/zero-stars.png">
                            <div>{{medianReview}} of 5</div>
                        </div>
                        <div class="quantity">{{reviews.length}} valorations</div>
                        <div class="filter">
                            <div class="row">
                                <div>5 stars</div>
                                <div class="progress">
                                    <mat-progress-bar mode="determinate" [value]="toPercentage(fiveStarsReviews)"></mat-progress-bar>
                                </div>
                                <div>{{toPercentage(fiveStarsReviews)}}%</div>
                            </div>
                            <div class="row">
                                <div>4 stars</div>
                                <div class="progress">
                                    <mat-progress-bar mode="determinate" [value]="toPercentage(fourStarsReviews)"></mat-progress-bar>
                                </div>
                                <div>{{toPercentage(fourStarsReviews)}}%</div>
                            </div>
                            <div class="row">
                                <div>3 stars</div>
                                <div class="progress">
                                    <mat-progress-bar mode="determinate" [value]="toPercentage(threeStarsReviews)"></mat-progress-bar>
                                </div>
                                <div>{{toPercentage(threeStarsReviews)}}%</div>
                            </div>
                            <div class="row">
                                <div>2 stars</div>
                                <div class="progress">
                                    <mat-progress-bar mode="determinate" [value]="toPercentage(twoStarsReviews)"></mat-progress-bar>
                                </div>
                                <div>{{toPercentage(twoStarsReviews)}}%</div>
                            </div>
                            <div class="row">
                                <div>1 stars</div>
                                <div class="progress">
                                    <mat-progress-bar mode="determinate" [value]="toPercentage(oneStarsReviews)"></mat-progress-bar>
                                </div>
                                <div>{{toPercentage(oneStarsReviews)}}%</div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h1>Value this product</h1>
                        <div>Share your opinion with other clients</div>
                        <button mat-stroked-button class="opinion-btn">Write opinion</button>
                    </div>
                </div>
                <div class="content">
                    <div *ngFor="let reviewContent of reviewsContent; let i = index;" class="review-item">
                        <div class="author">
                            {{reviews[i].seller}}
                        </div>
                        <div class="title">
                            {{reviews[i].title}}
                        </div>
                        <div class="date">
                            {{reviews[i].date}}
                        </div>
                        <div [innerHTML]="reviewContent" class="inner-content"></div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
