.item-container {
    display: flex;
    margin: 20px 20px 0px 20px;
}

.photos-container {
    display: flex;
}

.photos-container .side {
    display: flex;
    flex-direction: column;
}

.photos-container .side div {
    margin: 10px 0;
}

.photos-container .side div:first-child {
    margin-top: 0px;
}

.photos-container .main {
    height: 300px;
    width: 300px;
    margin: 0 20px;
}

.description-container {
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
}

.description-container .divider {
    margin: 20px 0;
    color: rgba(201, 201, 201, 0.8);
}

.description-container .title {
    font-weight: 700;
}

.description-container .condition {
    display: flex;
    gap: 10px;
}

.description-container .condition .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.description-container .condition .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .condition .description .options {
    font-style: italic;
}

.description-container .condition .label {
    font-weight: 700;
}

.description-container .quantity {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.description-container .quantity .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .quantity mat-form-field {
    width: 45px;
}

::ng-deep mat-form-field .mat-mdc-text-field-wrapper {
    padding: 0 10px;
}

::ng-deep mat-form-field .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.description-container .price {
    display: flex;
    gap: 10px;
}

.description-container .price .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .price .label .info {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    gap: 5px;
}

.description-container .buy {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.description-container .buy button {
    width: 100%;
}

.description-container .cart {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.description-container .cart button {
    width: 100%;
}

.description-container .shipping {
    display: flex;
    gap: 10px;
}

.description-container .shipping .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .shipping .label .location {
    margin-top: 5px;
    font-size: .75rem;
    color: #707070;
}

.description-container .delivery {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.description-container .delivery .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.description-container .returns {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.description-container .returns .title {
    width: 90px;
    text-align: right;
    font-weight: normal;
}

.item-container .extra {
    margin: 0 20px;
}

.info-container {
    margin-top: 60px;
}

.info-container .about {
    padding: 10px;
}

.info-container .shipping {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-container .shipping .container {
    padding: 20px;
    border: solid 1px #b3b3b3;
    display: flex;
    flex-direction: column;
}

.info-container .shipping .location, .info-container .shipping .shipping, .info-container .shipping .excludes, .info-container .shipping .country {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 10px;
    gap: 0;
}

.info-container .shipping .country {
    align-items: center;
    gap: 15px;
}

.info-container .shipping .location .title, .info-container .shipping .shipping .title, .info-container .shipping .excludes .title, .info-container .shipping .country .title {
    font-size: 16px;
}

.info-container .shipping .location .content, .info-container .shipping .shipping .content, .info-container .shipping .excludes .content, .info-container .shipping .country .content {
    font-size: 16px;
    margin-left: 10px;
}

.info-container .shipping .shipping .content, .info-container .shipping .excludes .content {
    color: #707070;
}

.info-container .shipping .delivery-rates table {
    width: 100%;
}

.info-container .shipping .delivery-rates table, .info-container .shipping .delivery-rates th, .info-container .shipping .delivery-rates td {
    border: solid 1px #707070;
    border-collapse: collapse;
}

.info-container .shipping .delivery-rates table th {
    background-color: #707070;
}

.info-container .shipping .returns table {
    width: 100%;
}

.info-container .shipping .returns table th {
    background-color: #707070;
}

.info-container .shipping .returns table, .info-container .shipping .returns th, .info-container .shipping .returns td {
    border: solid 1px #707070;
    border-collapse: collapse;
}

.info-container .shipping .payment table {
    width: 100%;
}

.info-container .shipping .payment table th {
    background-color: #707070;
}

.info-container .shipping .payment table, .info-container .shipping .payment th, .info-container .shipping .payment td {
    border: solid 1px #707070;
    border-collapse: collapse;
}

.info-container .shipping .payment .pay-items {
    display: flex;
}

.info-container .shipping .payment .pay-items div {
    padding: 5px;
    margin: 5px;
    border: solid 1px #000000;
}

.info-container .reviews {
    margin: 10px;
    display: flex;
}

.info-container .reviews .side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-container .reviews .side .stars {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-container .reviews .side .stars > img {
    width: 120px;
}

.info-container .reviews .side .stars div {
    font-size: 20px;
}

.info-container .reviews .side .quantity {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.68);
}

.info-container .reviews .side .filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-container .reviews .side .filter .row {
    display: flex;
    gap: 20px;
    color: #005da1;
}

.info-container .reviews .side .filter .row:hover {
    color: rgb(92, 91, 91);
    cursor: pointer;
}

.info-container .reviews .side .opinion-btn {
    margin-top: 20px;
}
