<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Advanced-Driver-Assistance-Systems">Advanced Driver Assistance Systems</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Parking Assistance</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Parking Assistance</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Advanced-Driver-Assistance-Systems">Advanced Driver Assistance Systems</a>
                    </li>
                    <li class="actual">
                        <a>Parking Assistance</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Camera-Monitor-Sensor-Kits">Camera, Monitor & Sensor Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Parking-Cameras">Parking Cameras</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Parking-Sensors">Parking Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Parking-Assistance">Other Parking Assistance</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Placement</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/placements/1.webp">
                        <div>Front</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/placements/2.webp">
                        <div>Left</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/placements/3.webp">
                        <div>Rear</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/placements/4.webp">
                        <div>Right</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/parking-assistance/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
