<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Parts">Boat Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Accessories-Gear">Accessories & Gear</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Paint & Maintenance</a>
        </div>
    </div>
    <div class="title">
        <h1>Boat Paint & Maintenance</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Boat-Accessories-Gear">Accessories & Gear</a>
                    </li>
                    <li class="actual">
                        <a>Paint & Maintenance</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Covers">Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Decals">Decals</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Safety-Gear-Devices">Safety Gear & Devices</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Seating">Seating</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Storage">Storage</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Boat-Accessories-Gear">Other</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
