<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Electrical & Ignition Components</a>
        </div>
    </div>
    <div class="title">
        <h1>Electrical & Ignition Components</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Electrical & Ignition Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Alternators-Generators">Alternators & Generators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Alternator-Generator-Parts">Alternator & Generator Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Batteries">Batteries</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Battery-Accessories">Battery Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Distributors">Distributors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Distributor-Parts">Distributor Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-ECUs-CDIs-Computer-Modules">ECUs, CDIs & Computer Modules</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Electrical-Ignition-Sensors-Switches">Electrical & Ignition Sensors & Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Fuses-Fuse-Boxes">Fuses & Fuse Boxes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Horns-Horn-Covers">Horns & Horn Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Ignition-Coils">Ignition Coils</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Ignition-Kits">Ignition Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Ignition-Wires-Caps-Boots">Ignition Wires, Caps & Boots</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Relays">Relays</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Spark-Plugs-Glow-Plugs">Spark Plugs & Glow Plugs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Starter-Motors">Starter Motors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Starter-Motor-Parts">Starter Motor Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Stators-Magnetos">Stators & Magnetos</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Stator-Magneto-Parts">Stator & Magneto Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Voltage-Regulators-Rectifiers">Voltage Regulators & Rectifiers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electrical-Ignition-Wiring-Harnesses-Cables-Connectors-for-ATVs-Side-by-Sides-UTVs">Wiring Harnesses, Cables & Connectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Electrical-Ignition-Components">Other Electrical & Ignition Components</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Stators-Magnetos">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/1.webp">
                        <div>Stators & Magnetos</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Starter-Motors">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/2.webp">
                        <div>Starter Motors</div>
                    </a>
                    <a class="item" routerLink="/c/Electrical-Ignition-Wiring-Harnesses-Cables-Connectors-for-ATVs-Side-by-Sides-UTVs">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/3.webp">
                        <div>Wiring Harnesses, Cables & Connectors</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-ECUs-CDIs-Computer-Modules">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/4.webp">
                        <div>ECUs, CDIs & Computer Modules</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Alternators-Generators">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/5.webp">
                        <div>Alternators & Generators</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Relays">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/6.webp">
                        <div>Relays</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Ignition-Wires-Caps-Boots">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/7.webp">
                        <div>Ignition Wires, Caps & Boots</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Batteries">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/8.webp">
                        <div>Batteries</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Electrical-Ignition-Sensors-Switches">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/9.webp">
                        <div>Electrical & Ignition Sensors & Switches</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Ignition-Coils">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/categories/10.webp">
                        <div>Ignition Coils</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/8.webp">
                        <div>CF-Moto</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/9.webp">
                        <div>Kubota</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/electrical-ignition-components/makes/10.webp">
                        <div>John Deere</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
