<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Parts">Boat Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Sterndrive-Motors-Components">Sterndrive Motors & Components</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Other</a>
        </div>
    </div>
    <div class="title">
        <h1>Other Sterndrive Motors & Components</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Sterndrive-Motors-Components">Sterndrive Motors & Components</a>
                    </li>
                    <li class="actual">
                        <a>Other</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-Sterndrive-Engines">Complete Sterndrive Engines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-Sterndrive-Outdrives">Complete Sterndrive Outdrives</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Anodes">Anodes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Belts-Pulleys">Belts & Pulleys</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Conversion-Kits">Conversion Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Cooling-Systems">Cooling System</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Cowlings-Housings">Cowlings & Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Electrical-Systems">Electrical Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Exhaust-Systems">Exhaust System</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Ignition-Starting-Systems">Ignition & Starting System</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Intake-Fuel-Systems">Intake & Fuel System</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Internal-Engine-Parts">Internal Engine Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Mounting-Brackets">Mounting & Brackets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Oil-Systems">Oil System</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Transmission-Drive-Parts">Transmission & Drive Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Trim-Tilt">Trim & Tilt</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
