<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Engine Bearings</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Engine Bearings</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
                    </li>
                    <li class="actual">
                        <a>Engine Bearings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Connecting-Rods-Parts">Connecting Rods & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Crankshafts">Crankshafts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Cylinder-Heads">Cylinder Heads</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engines">Engines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Blocks">Engine Blocks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Mounts">Engine Mounts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Rebuild-Kits">Engine Rebuild Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Sensors-Switches">Engine Sensors & Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Gaskets-Seals-Hardware">Gaskets, Seals & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Drain-Plugs-Filler-Caps-Dipsticks">Oil Drain Plugs, Filler Caps & Dipsticks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Filters">Oil Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Pumps-Parts">Oil Pumps & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oil-Pans">Oil Pans</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Pistons-Rings">Pistons & Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Service-Kits">Service Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Timing-Components-Kits">Timing Components & Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Valvetrain-Components">Valvetrain Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Engine-Parts">Other Engine Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/categories/1.webp">
                        <div>Bearing Kits</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/categories/2.webp">
                        <div>Big End Bearing Inserts</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/categories/3.webp">
                        <div>Camshafts Bearings</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/categories/4.webp">
                        <div>Crankshaft Main Bearing Sets</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/categories/5.webp">
                        <div>Crankshaft Main Bearings</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/brands/1.webp">
                        <div>King Bearings</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/brands/2.webp">
                        <div>ACL</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/brands/3.webp">
                        <div>Clevite</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/brands/4.webp">
                        <div>Enginetech</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/brands/5.webp">
                        <div>Dura-Bond</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/brands/6.webp">
                        <div>Sealed Power</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/brands/7.webp">
                        <div>Cummins</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/engine-bearings/brands/8.webp">
                        <div>TRW</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
