<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Valvetrain-Components">Valvetrain Components</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Valves</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Engine Valves</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Valvetrain-Components">Valvetrain Components</a>
                    </li>
                    <li class="actual">
                        <a>Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Camshafts">Camshafts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Push-Rods">Push Rods</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Rocker-Valve-Covers">Rocker & Valve Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Rocker-Arms-Parts">Rocker Arms & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Tappets-Lifters">Tappets & Lifters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Valve-Guides-Springs-Parts">Valve Guides, Springs & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Variable-Valve-Timing-Parts">Variable Valve Timing Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
