<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors-Apparel-Protection-Merchandise">Apparel, Protective Gear & Merchandise</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Automotive-Accessories-Merchandise">Automotive Accessories & Merchandise</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Badges, Patches & Pins</a>
        </div>
    </div>
    <div class="title">
        <h1>Automotive Badges, Patches & Pins</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Automotive-Accessories-Merchandise">Automotive Accessories & Merchandise</a>
                    </li>
                    <li class="actual">
                        <a>Badges, Patches & Pins</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Merchandise-Apparel">Apparel</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Automotive-Backpacks-Bags">Backpacks & Bags</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Automotive-Banners-Flags">Banners & Flags</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Buckles-Belts">Buckles & Belts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Caps-Hats">Caps & Hats</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Automotive-Cups-Mugs">Cups & Mugs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Automotive-Keyrings-Key-Fobs-Lanyards">Keyrings, Key Fobs & Lanyards</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Automotive-Signs-Decor">Signs & Decor</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Automotive-Accessories-Merchandise">Other Automotive Accessories & Merchandise</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
