<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Air-Fuel-Delivery">Air & Fuel Delivery</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Fuel-Injection-Parts">Fuel Injection Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Additional Fuel Injection Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Additional Fuel Injection Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Fuel-Injection-Parts">Fuel Injection Parts</a>
                    </li>
                    <li class="actual">
                        <a>Additional Fuel Injection Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Injectors">Fuel Injectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-High-Pressure-Fuel-Pump">High Pressure Fuel Pump</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
