<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Radios for Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Car Radios for Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
                    </li>
                    <li class="actual">
                        <a>Radios for Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Entertainment-Equipment">In-Car Entertainment</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Electronics-Accessories">Electronic Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Dash-Cams-Alarms-Security-Devices">Dash Cams, Alarms & Security</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-GPS-Satellite-Navigation-Systems">GPS & Sat Nav Devices</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Terminals-Wiring">Terminals & Wiring</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Installation-Equipment">DIY for Speakers & Subwoofers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Vintage-Car-Radios">Vintage Radios</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-In-Car-Technology-GPS-Security-Devices">Other In-Car Technology</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/categories/1.webp">
                        <div>Built-in Sat Navs</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/categories/2.webp">
                        <div>Cassette Players</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/categories/3.webp">
                        <div>CD Players</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/categories/4.webp">
                        <div>Stereo Units</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/radios-for-parts/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
