<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Electric, Hybrid & PHEV Specific Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Electric, Hybrid & PHEV Car & Truck Specific Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Electric, Hybrid & PHEV Specific Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Air-Conditioner-Compressors">Air Conditioner Compressors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Batteries-BMS-Fuel-Cells">Batteries, BMS & Fuel Cells</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charging-Units">Charging Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charging-Components">Charging Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Control-Modules">Control Modules</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Conversion-Kits">Conversion Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Converters-Inverters">Converters & Inverters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Cooling-Components">Cooling Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Drivetrain-Motors-Parts">Drivetrain Motors & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-High-Voltage-Circuit-Fuses-Breakers">High Voltage Circuit Fuses & Breakers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Relays-Contactors">Relays & Contactors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Switches">Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Wiring-Harnesses-Cables-Connectors">Wiring Harnesses, Cables & Connectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Electric-Hybrid-PHEV-Specific-Car-Truck-Parts">Other Electric, Hybrid & PHEV Specific Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Electric-Car-Truck-Charging-Units">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/1.webp">
                        <div>Charging Units</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Charging-Components">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/2.webp">
                        <div>Charging Components</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Batteries-BMS-Fuel-Cells">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/3.webp">
                        <div>Batteries, BMS & Fuel Cells</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Control-Modules">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/4.webp">
                        <div>Control Modules</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Drivetrain-Motors-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/5.webp">
                        <div>Drivetrain Motors & Parts</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Converters-Inverters">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/6.webp">
                        <div>Converters & Inverters</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Wiring-Harnesses-Cables-Connectors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/7.webp">
                        <div>Wiring Harnesses, Cables & Connectors</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Conversion-Kits">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/8.webp">
                        <div>Conversion Kits</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-High-Voltage-Circuit-Fuses-Breakers">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/9.webp">
                        <div>High Voltage Circuit Fuses & Breakers</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Cooling-Components">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/categories/10.webp">
                        <div>Cooling Components</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/1.webp">
                        <div>Tesla</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/2.webp">
                        <div>Toyota</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/3.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/4.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/5.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/6.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/7.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/9.webp">
                        <div>Hyundai</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/makes/10.webp">
                        <div>Lexus</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
