<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Electronic Accessories</a>
        </div>
    </div>
    <div class="title">
        <h1>In-Car Electronics Accessories</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
                    </li>
                    <li class="actual">
                        <a>Electronic Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Amplifier-Parts-Accessories">Amplifier Parts & Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Bluetooth-Handsfree-Kits">Bluetooth & Handsfree Car Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Cables-Extension-Leads">Cables & Extensions</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Camera-Detectors">Camera Detectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Faceplates-Mounting-Frames">Faceplates & Mounting Frames</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Head-Up-Displays-HUDs">Head Up Displays (HUDs)</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Headphones">Headphones</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Power-Capacitors">Power Capacitors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Power-Inverters-for-Car-Electronics">Power Inverters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Trim-Removal-Tools">Radio Removal Tools</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Rear-View-Mirror-Monitors">Rear View Mirror Monitors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Remote-Controls">Remote Controls</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-TV-Tuners">TV Tuners</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Screens-Monitors">Screens</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-In-Car-Electronic-Accessories">Other Electronic Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/In-Car-Screens-Monitors">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/1.webp">
                        <div>Screens</div>
                    </a>
                    <a class="item" routerLink="/c/Power-Inverters-for-Car-Electronics">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/2.webp">
                        <div>Power Inverters</div>
                    </a>
                    <a class="item" routerLink="/c/In-Car-Remote-Controls">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/3.webp">
                        <div>Remote Controls</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Camera-Detectors">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/4.webp">
                        <div>Camera Detectors</div>
                    </a>
                    <a class="item" routerLink="/c/In-Car-Cables-Extension-Leads">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/5.webp">
                        <div>Cables & Extension Leads</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Faceplates-Mounting-Frames">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/6.webp">
                        <div>Faceplates & Mounting Frames</div>
                    </a>
                    <a class="item" routerLink="/c/In-Car-Head-Up-Displays-HUDs">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/7.webp">
                        <div>Head Up Displays (HUDs)</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Amplifier-Parts-Accessories">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/8.webp">
                        <div>Amplifier Parts & Accessories</div>
                    </a>
                    <a class="item" routerLink="/c/In-Car-Bluetooth-Handsfree-Kits">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/9.webp">
                        <div>Bluetooth & Handsfree Kits</div>
                    </a>
                    <a class="item" routerLink="/c/In-Car-Headphones">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/10.webp">
                        <div>Headphones</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="categories">
                <h2>Shop More Categories</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Rear-View-Mirror-Monitors">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/11.webp">
                        <div>Rear View Mirror Monitors</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Power-Capacitors">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/12.webp">
                        <div>Power Capacitors</div>
                    </a>
                    <a class="item" routerLink="/c/In-Car-TV-Tuners">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/13.webp">
                        <div>TV Tuners</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Trim-Removal-Tools">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/14.webp">
                        <div>Radio Removal Tools</div>
                    </a>
                    <a class="item" routerLink="/c/In-Car-Cables-Extension-Leads">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/categories/15.webp">
                        <div>Other Electronic Accessories</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/makes/7.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/makes/8.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/electronic-accessories/makes/9.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
