<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Aviation Parts & Accessories</a>
        </div>
    </div>
    <div class="title">
        <h1>Aviation Parts & Accessories</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Aviation Parts & Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Aircraft-Tires-Tubes">Aircraft Tires & Tubes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Aviation-Memorabilia">Aviation Memorabilia</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Avionics">Avionics</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Aviation-Engines">Engines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Aviation-Engine-Kits">Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Aviation-Engine-Parts">Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Aviation-Pilot-Gear">Pilot Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Aviation-Engine-Plans">Plans</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Aviation-Engines">Other</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="type">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Continental</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Cessna</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Aeronca</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Boeing</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Beechcraft</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bell</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Piper</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pratt & Whitney</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lycoming</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rolls-Royce</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Airbus</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="type">
                <h2>Shop by Compatible Make</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Avionics</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Beechcraft</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rolls-Royce</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lycoming</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Boeing</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Van's Aircraft</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bell</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pratt & Whitney</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Aviat</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Robinson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sikorsky</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Cirrus</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
