<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Terminals-Wiring">Terminals & Wiring</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Steering Wheel Interfaces</a>
        </div>
    </div>
    <div class="title">
        <h1>Car Steering Wheel Interfaces</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Terminals-Wiring">Terminals & Wiring</a>
                    </li>
                    <li class="actual">
                        <a>Steering Wheel Interfaces</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Electronics-Adapters-Plugs">Adapters & Plugs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Audio-Interface-Cables">Audio Interface Cables</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Terminals-Wiring-Distribution-Blocks">Distribution Blocks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Fuses-Fuse-Holders">Fuses & Fuse Holders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Terminals-Wiring-Relays">Relays</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Terminals-Connectors">Terminals & Connectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Wiring-Wiring-Harnesses">Wiring & Wiring Harnesses</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Terminals-Wiring-Products">Other Terminals & Wiring</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
