<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Speaker-Subwoofer-Installation-Equipment">DIY for Speakers & Subwoofers</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Carpets</a>
        </div>
    </div>
    <div class="title">
        <h1>Car Speaker & Subwoofer Carpets</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Installation-Equipment">DIY for Speakers & Subwoofers</a>
                    </li>
                    <li class="actual">
                        <a>Carpets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Adapter-Rings">Adapter Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Speaker-Subwoofer-Enclosures-for-Cars">Enclosures</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Grills-Guards">Grills & Guards</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Insulation-Equipment">Insulation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Rear-Shelf-Installation-Products">Rear Shelves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Speaker-Subwoofer-Installation-Equipment">Other Speakers & Subwoofers DIY</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
