<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors-Apparel-Protection-Merchandise">Apparel, Protective Gear & Merchandise</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Protective Gear</a>
        </div>
    </div>
    <div class="title">
        <h1>Motorcycle & Powersports Helmets & Accessories</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Motors-Apparel-Protection-Merchandise">Apparel, Protective Gear & Merchandise</a>
                    </li>
                    <li class="actual">
                        <a>Protective Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Air-Vests">Air Vests</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Ankle-Braces-Supports">Ankle Braces & Supports</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Armored-Shirts">Armored Shirts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Armored-Shorts-Pants">Armored Shorts & Pants</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Back-Protectors">Back Protectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Chest-Protectors">Chest Protectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Elbow-Shoulder-Guards">Elbow & Shoulder Guards</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Hip-Protectors">Hip Protectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Protector-Jackets-Vests">Protector Jackets & Vests</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Kidney-Belts">Kidney Belts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Knee-Protectors">Knee Protectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Neck-Braces-Supports">Neck Braces & Supports</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Protector-Sets">Protector Sets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Protector-Parts">Protector Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Motorcycle-Powersports-Protective-Gear">Other Protective Gear</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
