<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Parts">Boat Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Trolling-Motors-Components">Trolling Motors & Components</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Complete Trolling Motors</a>
        </div>
    </div>
    <div class="title">
        <h1>Complete Trolling Motors</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Trolling-Motors-Components">Trolling Motors & Components</a>
                    </li>
                    <li class="actual">
                        <a>Complete Trolling Motors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Trolling-Motor-Components">Trolling Motor Components</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="type">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Minn Kota</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>MotorGuide</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>HASWING</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Evinrude</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Unbranded</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Watersnake</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lowrance</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercury</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Shakespeare</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SBU</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>T-H Marine</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Seachoice</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="type">
                <h2>Shop by Engine (HP)</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Under 10 hp</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>10-49 hp</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>50-99 hp</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>100-200 hp</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Over 200 hp</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
