<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Advanced Driver Assistance Systems</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Advanced Driver Assistance Systems</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Advanced Driver Assistance Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-ADAS-Control-Modules">ADAS Control Modules</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Alert-Warning-Devices">Alert & Warning Devices</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Cruise-Control-Components">Cruise Control Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Lidar-Radar-Sensors">Lidar & Radar Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Parking-Assistance">Parking Assistance</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Visible-Cameras">Visible Cameras</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Advanced-Driver-Assistance-Systems">Other Advanced Driver Assistance Systems</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Parking-Assistance">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/categories/1.webp">
                        <div>Parking Assistance</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Cruise-Control-Components">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/categories/2.webp">
                        <div>Cruise Control Components</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Lidar-Radar-Sensors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/categories/3.webp">
                        <div>Car & Truck Lidar & Radar Sensors</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Alert-Warning-Devices">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/categories/4.webp">
                        <div>Alert & Warning Devices</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Visible-Cameras">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/categories/5.webp">
                        <div>Visible Cameras</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/advanced-driver-assistance-systems/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
