<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Parts">Boat Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Electrical & Lighting</a>
        </div>
    </div>
    <div class="title">
        <h1>Boat Electrical & Lighting</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Boat-Parts">Boat Parts</a>
                    </li>
                    <li class="actual">
                        <a>Electrical & Lighting</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Accessories-Gear">Accessories & Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Anchoring-Docking">Anchoring, Docking</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Body-Parts">Body Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Controls-Steering">Controls & Steering</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Deck-Cabin-Hardware">Deck & Cabin Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Electronics-Navigation">Electronics & Navigation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Inboard-Engines-Components">Inboard Engines & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Interior-Cabin-Galley">Interior, Cabin & Galley</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Jet-Drives">Jet Drives</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Marine-Batteries">Marine Batteries</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Marine-Rope">Marine Rope</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Memorabilia">Memorabilia</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Engines-Components">Outboard Engines & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Plumbing-Ventilation">Plumbing & Ventilation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Propellers">Propellers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sailing-Hardware-Gear">Sailing Hardware & Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Service-Tools">Service Tools</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Motors-Components">Sterndrive Motors & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Trailer-Parts">Trailer Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Trolling-Motors-Components">Trolling Motors & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Boat-Parts">Other</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="type">
                <h2>Shop by Featured Refinements</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Marine LED Light</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>LED Navigation Light</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Stern Light</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>LED Boat Light</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Boat Bow Light</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Boat Stern Light</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Vintage Boat Light</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Boat Switches</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Vintage Boat Parts</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>LED Boat Navigation Light</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Boat LED</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Boat Horn</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="type">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Perko</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Attwood</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Blue Sea</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercury</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Blue Sea Systems</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>T-H Marine</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Seachoice</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ancor</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Faria</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Unbranded</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Aqua Signal</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Marinco</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
