<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Air-Fuel-Delivery">Air & Fuel Delivery</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Fuel Injection Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Fuel Injection Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Air-Fuel-Delivery">Air & Fuel Delivery</a>
                    </li>
                    <li class="actual">
                        <a>Fuel Injection Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Injectors">Fuel Injectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-High-Pressure-Fuel-Pump">High Pressure Fuel Pump</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Additional-Fuel-Injection-Parts">Additional Fuel Injection Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Fuel-Injectors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/categories/1.webp">
                        <div>Fuel Injectors</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/categories/2.webp">
                        <div>Fuel Injector Modules</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/categories/3.webp">
                        <div>Fuel Pressure Regulators</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/categories/4.webp">
                        <div>Fuel Valves</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-High-Pressure-Fuel-Pump">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/categories/5.webp">
                        <div>High Pressure Fuel Pump</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop by Popular Brands</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/brands/1.webp">
                        <div>Bosch</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/brands/2.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/brands/3.webp">
                        <div>Motorcraft</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/brands/4.webp">
                        <div>Cummins</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/brands/5.webp">
                        <div>Delphi</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/brands/6.webp">
                        <div>Holley</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/brands/7.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/brands/8.webp">
                        <div>Caterpillar</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-injection-parts/brands/9.webp">
                        <div>ACDelco</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
