<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors-Apparel-Protection-Merchandise">Apparel, Protective Gear & Merchandise</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Other Apparel, Protective Gear & Merchandise</a>
        </div>
    </div>
    <div class="title">
        <h1>Other Motorcycle & Powersports Apparel, Protective Gear & Merchandise</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Motors-Apparel-Protection-Merchandise">Apparel, Protective Gear & Merchandise</a>
                    </li>
                    <li class="actual">
                        <a>Other Apparel, Protective Gear & Merchandise</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Helmets-Accessories">Helmets & Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Protective-Gear">Protective Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Gear">Motorcycle & Powersports Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Automotive-Accessories-Merchandise">Automotive Accessories & Merchandise</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
