<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Parts">Boat Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Accessories-Gear">Accessories & Gear</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Seating</a>
        </div>
    </div>
    <div class="title">
        <h1>Boat Seating</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Boat-Accessories-Gear">Accessories & Gear</a>
                    </li>
                    <li class="actual">
                        <a>Seating</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Covers">Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Decals">Decals</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Paint-Maintenance">Paint & Maintenance</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Safety-Gear-Devices">Safety Gear & Devices</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Storage">Storage</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Boat-Accessories-Gear">Other</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="makes">
                <h2>Shop by Featured Refinements</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/accessories-gear/seating/refinements/1.webp">
                        <div>Folding Boat Seat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/accessories-gear/seating/refinements/2.webp">
                        <div>Pontoon Seat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/accessories-gear/seating/refinements/3.webp">
                        <div>Boat Cushion</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/accessories-gear/seating/refinements/4.webp">
                        <div>Bass Boat Seat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/accessories-gear/seating/refinements/5.webp">
                        <div>Fishing Boat Seat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/accessories-gear/seating/refinements/6.webp">
                        <div>Leaning Post</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/accessories-gear/seating/refinements/7.webp">
                        <div>Back to Back Boat Seats</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/accessories-gear/seating/refinements/8.webp">
                        <div>Boat Seat Swivel</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="type">
                <h2>Shop by Color</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>White</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Gray</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Blue</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Red</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Beige</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Green</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Black</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Brown</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Silver</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Orange</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Yellow</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Purple</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
