<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Exhaust & Emission Systems</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Exhaust & Emission Systems</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Exhaust & Emission Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Bypass-Valves">Air Bypass Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Catalytic-Converters">Catalytic Converters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-Emission-Clamps-Flanges-Hangers-Hardware">Clamps, Flanges, Hangers & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Diesel-Exhaust-Fluid-System-Parts">Diesel Exhaust Fluid System Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-EGR-Parts-Valves">EGR Parts & Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Emission-Gaskets">Emission Gaskets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Emissions-Hardware-Components">Emissions Hardware & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-Gaskets">Exhaust Gaskets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-Pipes-Tips">Exhaust Pipes & Tips</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-System-Kits">Exhaust System Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Vapor-Canisters">Fuel Vapor Canisters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Heat-Shields-Wraps-Sleeves">Heat Shields, Wraps & Sleeves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-Manifolds-Headers">Manifolds & Headers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Mufflers-Resonators">Mufflers & Resonators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oxygen-Sensors">Oxygen Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Particulate-Filters">Particulate Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Secondary-Air-Smog-Pumps">Secondary Air & Smog Pumps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Solenoids">Solenoids</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-Emission-Switches">Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Exhaust-Emission-Parts">Other Exhaust & Emission Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Exhaust-System-Kits">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/1.webp">
                        <div>Exhaust System Kits</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Exhaust-Manifolds-Headers">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/2.webp">
                        <div>Exhaust Manifolds & Headers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Catalytic-Converters">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/3.webp">
                        <div>Catalytic Converters</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Exhaust-Pipes-Tips">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/4.webp">
                        <div>Exhaust Pipes & Tips</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Mufflers-Resonators">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/5.webp">
                        <div>Mufflers & Resonators</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Oxygen-Sensors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/6.webp">
                        <div>Oxygen Sensors</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-EGR-Parts-Valves">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/7.webp">
                        <div>EGR Parts & Valves</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Secondary-Air-Smog-Pumps">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/8.webp">
                        <div>Secondary Air & Smog Pumps</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Exhaust-Emission-Clamps-Flanges-Hangers-Hardware">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/9.webp">
                        <div>Clamps, Flanges, Hangers & Hardware</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Exhaust-Gaskets">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/categories/10.webp">
                        <div>Exhaust Gaskets</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exhaust-emission-systems/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes-link">
                <h2>Shop by Make</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Abarth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Acura</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Alfa Romeo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Audi</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Austin Healey</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Avanti</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bentley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bertone</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Buick</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Cleveland</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Country Coach Motorhome</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DAF</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daihatsu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daimler</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Datsun</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DeSoto</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DKW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Evobus</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>FAW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ferrari</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Fiat</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Foton</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Freightliner</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Gardner</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Genesis</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Giant</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hino</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>HRG</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hudson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Humber</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hummer</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>International Harvester</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Isotta Fraschini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Isuzu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Iveco</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Jaguar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kaiser</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kalmar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kenworth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kia</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lada</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lamborghini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mack</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Marathon</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Maserati</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Matra</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mazda</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>McLaren</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi Fuso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Morris</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Moskvich</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>NSU</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Oldsmobile</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Opel</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ottawa</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peterbilt</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peugeot</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pierce Mfg. Inc.</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Plymouth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pontiac</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Prevost</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ram</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rambler</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Renault</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Saab</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Saleen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Saturn</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Scion</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Seat</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Shelby</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Simca</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Smart</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Spartan Motors</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SRT</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SsangYong</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Star</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling Truck</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Studebaker</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Subaru</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Triumph</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>UD</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Unimog</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Van Hool</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volkswagen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volvo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Western Star</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Willys</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Workhorse</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Yugo</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
