<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Electric-Hybrid-PHEV-Car-Truck-Specific-Parts">Electric, Hybrid & PHEV Specific Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Electric-Car-Truck-Batteries-BMS-Fuel-Cells">Batteries, BMS & Fuel Cells</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Fuel Cells & Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Electric Car & Truck Fuel Cells & Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Electric-Car-Truck-Batteries-BMS-Fuel-Cells">Batteries, BMS & Fuel Cells</a>
                    </li>
                    <li class="actual">
                        <a>Fuel Cells & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Batteries">Batteries</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Battery-Management-Systems-BMS">Battery Management Systems (BMS)</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Battery-BMS-Units">Battery & BMS Units</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
