<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Electric-Hybrid-PHEV-Car-Truck-Specific-Parts">Electric, Hybrid & PHEV Specific Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Other Electric, Hybrid & PHEV Specific Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Other Electric, Hybrid & PHEV Specific Car & Truck Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Electric-Hybrid-PHEV-Car-Truck-Specific-Parts">Electric, Hybrid & PHEV Specific Parts</a>
                    </li>
                    <li class="actual">
                        <a>Other Electric, Hybrid & PHEV Specific Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Air-Conditioner-Compressors">Air Conditioner Compressors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Batteries-BMS-Fuel-Cells">Batteries, BMS & Fuel Cells</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charging-Units">Charging Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charging-Components">Charging Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Control-Modules">Control Modules</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Conversion-Kits">Conversion Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Converters-Inverters">Converters & Inverters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Cooling-Components">Cooling Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Drivetrain-Motors-Parts">Drivetrain Motors & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-High-Voltage-Circuit-Fuses-Breakers">High Voltage Circuit Fuses & Breakers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Relays-Contactors">Relays & Contactors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Switches">Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Wiring-Harnesses-Cables-Connectors">Wiring Harnesses, Cables & Connectors</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
