<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Air-Conditioning-Heating">Air Conditioning & Heating</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>HVAC Controls & Control Units</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck HVAC Controls & Control Units</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Air-Conditioning-Heating">Air Conditioning & Heating</a>
                    </li>
                    <li class="actual">
                        <a>HVAC Controls & Control Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Compressors-Clutches">A/C Compressors & Clutches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Condensers">A/C Condensers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Evaporators">A/C Evaporators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Expansion-Valves">A/C Expansion Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Hoses-Fittings">A/C Hoses & Fittings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Pressure-Switches">A/C Pressure Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Receiver-Dryers-Accumulators">A/C Receiver Dryers & Accumulators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Blowers-Fans">Blowers & Fans</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Cabin-Air-Filters">Cabin Air Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Heater-Control-Valves">Heater Control Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Heater-Cores">Heater Cores</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Control-Unit-Parts">HVAC Control Unit Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Temperature-Sensors">HVAC Temperature Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Vent-Actuators">HVAC Vent Actuators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Air-Conditioning-Heating">Other Air Conditioning & Heating</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/categories/1.webp">
                        <div>Control Button Sets</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/categories/2.webp">
                        <div>Control Units</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/categories/3.webp">
                        <div>Decal Stickers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/categories/4.webp">
                        <div>Knobs</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/categories/5.webp">
                        <div>Selector Switches</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/hvac-controls-control-units/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
