<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Steering & Suspension</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Steering & Suspension</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Steering & Suspension</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-A-Arms-Swingarms">A-Arms & Swingarms</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Control-Arms-Ball-Joints-Assemblies">Control Arms, Ball Joints & Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Forks-Parts">Forks & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Lowering-Lift-Long-Travel-Kits">Lowering, Lift & Long Travel Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Power-Steering-System-Parts">Power Steering Systems & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Shock-Absorbers-Linkages">Shocks & Coil Overs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Steering-Bearings">Steering Bearings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Steering-Bellcranks">Steering Bellcranks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Steering-Columns">Steering Columns</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Steering-Knuckles">Steering Knuckles</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Steering-Stabilizers">Steering Stabilizers & Dampers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Suspension-Bearings-Bushings-Seals">Suspension Bearings, Bushings & Seals</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Suspension-Springs">Suspension Springs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Sway-Bars-Links-Bushings">Sway Bars, Links & Bushings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Tie-Rods-Steering-Linkages">Tie Rods & Steering Linkages</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Wheel-Bearings-Hubs-Seals">Wheel Bearings, Hubs & Seals</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Steering-Suspension-Parts">Other Steering & Suspension</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Shock-Absorbers-Linkages">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/1.webp">
                        <div>Shock Absorbers & Linkages</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-A-Arms-Swingarms">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/2.webp">
                        <div>A-Arms & Swingarms</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Lowering-Lift-Long-Travel-Kits">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/3.webp">
                        <div>Lowering, Lift & Long Travel Kits</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Suspension-Springs">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/4.webp">
                        <div>Suspension Springs</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Tie-Rods-Steering-Linkages">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/5.webp">
                        <div>Tie Rods & Steering Linkages</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Control-Arms-Ball-Joints-Assemblies">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/6.webp">
                        <div>Control Arms, Ball Joints & Assemblies</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Wheel-Bearings-Hubs-Seals">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/7.webp">
                        <div>Wheel Bearings, Hubs & Seals</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Suspension-Bearings-Bushings-Seals">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/8.webp">
                        <div>Suspension Bearings, Bushings & Seals</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Power-Steering-System-Parts">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/9.webp">
                        <div>Power Steering System & Parts</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Steering-Columns">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/categories/10.webp">
                        <div>Steering Columns</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/8.webp">
                        <div>CF-Moto</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/9.webp">
                        <div>Kubota</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/steering-suspension/makes/10.webp">
                        <div>John Deere</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
