<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>GPS & Sat Nav Devices</a>
        </div>
    </div>
    <div class="title">
        <h1>Car GPS & Satellite Navigation Systems</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
                    </li>
                    <li class="actual">
                        <a>GPS & Sat Nav Devices</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Built-in-Car-Sat-Nav-Devices">Built-in Sat Nav</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Portable-Car-GPS-Systems">Portable GPS Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Software-Maps-for-Car-GPS-Sat-Nav-Devices">GPS Software & Maps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-GPS-Accessories">GPS Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-GPS-Satellite-Navigation-System-Equipment">Other GPS & Sat Nav Devices</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Built-in-Car-Sat-Nav-Devices">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/categories/1.webp">
                        <div>Built-in Sat Nav</div>
                    </a>
                    <a class="item" routerLink="/c/Software-Maps-for-Car-GPS-Sat-Nav-Devices">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/categories/2.webp">
                        <div>GPS Software & Maps</div>
                    </a>
                    <a class="item" routerLink="/c/Car-GPS-Accessories">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/categories/3.webp">
                        <div>GPS Accessories</div>
                    </a>
                    <a class="item" routerLink="/c/Portable-Car-GPS-Systems">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/categories/4.webp">
                        <div>Portable GPS Systems</div>
                    </a>
                    <a class="item" routerLink="/c/Other-Car-GPS-Satellite-Navigation-System-Equipment">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/categories/5.webp">
                        <div>Other GPS & Sat Nav Devices</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/gps-sat-nav-devices/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
