<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Lighting & Lamps</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Lighting & Lamps</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Lighting & Lamps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Accessory-Lighting">Accessory Lighting</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Daytime-Running-Lights">Daytime Running Lights</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Fog-Light-Assemblies">Fog Light Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Hardware-Mounts-Brackets">Hardware, Mounts & Brackets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Headlight-Assemblies">Headlight Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Headlight-Ballasts-Igniters">Headlight Ballasts & Igniters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Lenses">Lenses</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-License-Plate-Light-Assemblies">License Plate Light Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Light-Bulbs-LEDs">Light Bulbs & LEDs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Reflectors">Reflectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Sockets-Connectors-Wiring">Sockets, Connectors & Wiring</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Tail-Brake-Light-Assemblies">Tail & Brake Light Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Turn-Signal-Assemblies">Turn Signal Light Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Lighting-Lamps">Other Lighting & Lamps</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Headlight-Assemblies">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/1.webp">
                        <div>Headlight Assemblies</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Sockets-Connectors-Wiring">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/2.webp">
                        <div>Sockets, Connectors & Wiring</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Hardware-Mounts-Brackets">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/3.webp">
                        <div>Hardware, Mounts & Brackets</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Lenses">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/4.webp">
                        <div>Lenses</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Accessory-Lighting">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/5.webp">
                        <div>Accessory Lighting</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Tail-Brake-Light-Assemblies">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/6.webp">
                        <div>Tail & Brake Light Assemblies</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Turn-Signal-Assemblies">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/7.webp">
                        <div>Turn Signal Assemblies</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Daytime-Running-Lights">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/8.webp">
                        <div>Daytime Running Lights</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Light-Bulbs-LEDs">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/9.webp">
                        <div>Light Bulbs & LEDs</div>
                    </a>
                    <a class="item" routerLink="/c/Other-ATV-Side-by-Side-UTV-Lighting-Lamps">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/categories/10.webp">
                        <div>Other Lighting & Lamps</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/8.webp">
                        <div>CF-Moto</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/9.webp">
                        <div>Kubota</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/lighting-lamps/makes/10.webp">
                        <div>John Deere</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
