<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Steering-Wheels-Handlebars-Grips">Steering Wheels, Handlebars & Grips</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Grips, Covers & Pads</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Handlebar Grips, Covers & Pads</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Steering-Wheels-Handlebars-Grips">Steering Wheels, Handlebars & Grips</a>
                    </li>
                    <li class="actual">
                        <a>Grips, Covers & Pads</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Bar-End-Weights-Caps">Bar End Weights & Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Handlebar-Buttons-Switches">Buttons & Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Handlebars">Handlebars</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Risers-Clamps-Brackets">Risers, Clamps & Brackets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Steering-Wheels">Steering Wheels</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Steering-Wheels-Handlebars-Grips">Other Steering Wheels, Handlebars & Grips</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
