<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Transmission & Drivetrain</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Transmission & Drivetrain</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Transmission & Drivetrain</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Axles">Axles</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Axle-Housings-Parts">Axle Housings & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Bearings">Bearings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Clutch-Parts-Kits">Clutch Parts & Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-CV-Axle-Assemblies">CV Axle Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-CV-Joints-Boots-Parts">CV Joints, Boots & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Differentials">Differentials</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Differential-Parts">Differential Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Final-Primary-Drive-Parts-Kits">Final & Primary Drive Parts & Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Gaskets-Seals">Gaskets & Seals</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Gearboxes-Transmissions">Gearboxes & Transmissions</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Gearbox-Transmission-Parts">Gearbox & Transmission Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Transmission-Drivetrain-Parts">Other Transmission & Drivetrain Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Axle-Housings-Parts">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/1.webp">
                        <div>Axle Housings & Parts</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Final-Primary-Drive-Parts-Kits">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/2.webp">
                        <div>Final & Primary Drive Parts & Kits</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Clutch-Parts-Kits">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/3.webp">
                        <div>Clutch Parts & Kits</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Differential-Parts">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/4.webp">
                        <div>Differential Parts</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Gearboxes-Transmissions">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/5.webp">
                        <div>Gearboxes & Transmissions</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Axles">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/6.webp">
                        <div>Axles</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-CV-Axle-Assemblies">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/7.webp">
                        <div>CV Axle Assemblies</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Bearings">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/8.webp">
                        <div>Bearings</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-CV-Joints-Boots-Parts">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/9.webp">
                        <div>CV Joints, Boots & Parts</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Gaskets-Seals">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/categories/10.webp">
                        <div>Gaskets & Seals</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/8.webp">
                        <div>CF-Moto</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/9.webp">
                        <div>Kubota</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/makes/10.webp">
                        <div>John Deere</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
