<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors-Apparel-Protection-Merchandise">Apparel, Protective Gear & Merchandise</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motorcycle-Powersports-Gear">Motorcycle & Powersports Gear</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Motocross Kits</a>
        </div>
    </div>
    <div class="title">
        <h1>Motocross Kits</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Motorcycle-Powersports-Gear">Motorcycle & Powersports Gear</a>
                    </li>
                    <li class="actual">
                        <a>Motocross Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Armored-Hoodies">Armored Hoodies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Base-Layers-Underwear">Base Layers & Underwear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Boots-Shoes">Boots & Shoes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Boot-Shoe-Parts-Spares">Boot & Shoe Parts & Spares</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Gloves">Gloves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Jackets">Motorcycle Jackets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Pants-Chaps">Motorcycle Pants & Chaps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Over-Boots">Over Boots</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powerports-Racing-Riding-Suits">Racing & Riding Suits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Rain-Wear">Rain Wear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Socks">Socks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Snowmobile-Jackets-Bibs">Snowmobile Jackets & Bibs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Vests">Vests</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Waistcoat-Extender">Vest Extender</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Motorcycle-Powersports-Gear">Other Motorcycle & Powersports Gear</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
