<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Seats, Parts & Accessories</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Seats, Parts & Accessories</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Seats, Parts & Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Backrests">Backrests</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Headrests">Headrests</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Seats">Seats</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Seat-Belts-Harnesses-Parts">Seat Belts, Harnesses & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Seat-Covers">Seat Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Additional-ATV-Side-by-Side-UTV-Seat-Parts">Additional Seat Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Seats">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/categories/1.webp">
                        <div>Seats</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Seat-Covers">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/categories/2.webp">
                        <div>Seat Covers</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Seat-Belts-Harnesses-Parts">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/categories/3.webp">
                        <div>Seat Belts, Harnesses & Parts</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Backrests">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/categories/4.webp">
                        <div>Backrests</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Headrests">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/categories/5.webp">
                        <div>Headrests</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/makes/8.webp">
                        <div>Kubota</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/seats-parts-accessories/makes/9.webp">
                        <div>John Deere</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
