<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Electronics-Accessories">Electronic Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Head Up Displays (HUDs)</a>
        </div>
    </div>
    <div class="title">
        <h1>In-Car Head Up Displays (HUDs)</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/In-Car-Electronics-Accessories">Electronic Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Head Up Displays (HUDs)</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Amplifier-Parts-Accessories">Amplifier Parts & Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Bluetooth-Handsfree-Kits">Bluetooth & Handsfree Car Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Cables-Extension-Leads">Cables & Extensions</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Camera-Detectors">Camera Detectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Faceplates-Mounting-Frames">Faceplates & Mounting Frames</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Headphones">Headphones</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Power-Capacitors">Power Capacitors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Power-Inverters-for-Car-Electronics">Power Inverters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Trim-Removal-Tools">Radio Removal Tools</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Rear-View-Mirror-Monitors">Rear View Mirror Monitors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Remote-Controls">Remote Controls</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-TV-Tuners">TV Tuners</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Screens-Monitors">Screens</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-In-Car-Electronic-Accessories">Other Electronic Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
