<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Engine-Cooling-Components">Engine Cooling Components</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Radiators</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Engine Radiators</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Engine-Cooling-Components">Engine Cooling Components</a>
                    </li>
                    <li class="actual">
                        <a>Radiators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Caps">Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Cooling-Clamps-Hardware">Clamps & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Coolant-Hoses">Coolant Hoses</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Oil-Coolers-Lines">Engine Oil Coolers & Lines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Expansion-Overflow-Tanks">Expansion & Overflow Tanks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Shroud-Assemblies">Fan & Shroud Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Blades">Fan Blades</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Clutches">Fan Clutches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Motors">Fan Motors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Cooling-Gaskets-Seals-O-Rings">Gaskets, Seals & O-Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Temperature-Sensors">Temperature Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Thermostats-Housings">Thermostats & Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Water-Pumps">Water Pumps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Engine-Cooling-Components">Other Engine Cooling Components</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Type</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/types/1.webp">
                        <div>2 Row</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/types/2.webp">
                        <div>3 Row</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/types/3.webp">
                        <div>4 Row</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/types/4.webp">
                        <div>Crossflow</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/types/5.webp">
                        <div>Downflow</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/radiators/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
