<ng-container *ngIf="category === 'All'">
    <app-all></app-all>
</ng-container>
<ng-container *ngIf="category === 'Motors'">
    <app-motors></app-motors>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Carburetors'">
    <app-atv-side-by-side-utv-carburetors></app-atv-side-by-side-utv-carburetors>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Air-Filters'">
    <app-atv-side-by-side-utv-air-filters></app-atv-side-by-side-utv-air-filters>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Air-Intake-Fuel-Delivery'">
    <app-atv-side-by-side-utv-air-intake-fuel-delivery></app-atv-side-by-side-utv-air-intake-fuel-delivery>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fuel-Pumps-Sending-Units'">
    <app-atv-side-by-side-utv-fuel-pumps-sending-units></app-atv-side-by-side-utv-fuel-pumps-sending-units>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fuel-Tanks'">
    <app-atv-side-by-side-utv-fuel-tanks></app-atv-side-by-side-utv-fuel-tanks>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Air-Intake-Fuel-Delivery-Gaskets-Seals-O-Rings'">
    <app-atv-side-by-side-utv-air-intake-fuel-delivery-gaskets-seals-o-rings></app-atv-side-by-side-utv-air-intake-fuel-delivery-gaskets-seals-o-rings>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fuel-Valves-Petcocks'">
    <app-atv-side-by-side-utv-fuel-valves-petcocks></app-atv-side-by-side-utv-fuel-valves-petcocks>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fuel-Injectors'">
    <app-atv-side-by-side-utv-fuel-injectors></app-atv-side-by-side-utv-fuel-injectors>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Air-Hoses-Lines-Pipes'">
    <app-atv-side-by-side-utv-air-hoses-lines-pipes></app-atv-side-by-side-utv-air-hoses-lines-pipes>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fuel-Tank-Caps'">
    <app-atv-side-by-side-utv-fuel-tank-caps></app-atv-side-by-side-utv-fuel-tank-caps>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Air-Filter-Housings'">
    <app-atv-side-by-side-utv-air-filter-housings></app-atv-side-by-side-utv-air-filter-housings>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Air-Intake-Fuel-Sensors'">
    <app-atv-side-by-side-utv-air-intake-fuel-sensors></app-atv-side-by-side-utv-air-intake-fuel-sensors>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Carburetor-Parts'">
    <app-atv-side-by-side-utv-carburetor-parts></app-atv-side-by-side-utv-carburetor-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fuel-Filters'">
    <app-atv-side-by-side-utv-fuel-filters></app-atv-side-by-side-utv-fuel-filters>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Intake-Covers-Ducts-Scoops'">
    <app-atv-side-by-side-utv-intake-covers-ducts-scoops></app-atv-side-by-side-utv-intake-covers-ducts-scoops>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Manifold-Intake-Adapter-Inlet-Joint'">
    <app-atv-side-by-side-utv-manifold-intake-adapter-inlet-joint></app-atv-side-by-side-utv-manifold-intake-adapter-inlet-joint>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Throttle-Bodies'">
    <app-atv-side-by-side-utv-throttle-bodies></app-atv-side-by-side-utv-throttle-bodies>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Throttle-Idle-Cruise-Control-Cables-Linkages'">
    <app-atv-side-by-side-utv-throttle-idle-cruise-control-cables-linkages></app-atv-side-by-side-utv-throttle-idle-cruise-control-cables-linkages>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Turbochargers-Superchargers-Parts'">
    <app-atv-side-by-side-utv-turbochargers-superchargers-parts></app-atv-side-by-side-utv-turbochargers-superchargers-parts>
</ng-container>
<ng-container *ngIf="category === 'Other-ATV-Side-by-Side-UTV-Air-Intake-Fuel-Delivery-Parts'">
    <app-other-atv-side-by-side-utv-air-intake-fuel-delivery-parts></app-other-atv-side-by-side-utv-air-intake-fuel-delivery-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fuel-Hoses-Lines-Pipes'">
    <app-atv-side-by-side-utv-fuel-hoses-lines-pipes></app-atv-side-by-side-utv-fuel-hoses-lines-pipes>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Audio-Communication-Navigation'">
    <app-atv-side-by-side-utv-audio-communication-navigation></app-atv-side-by-side-utv-audio-communication-navigation>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Accessory-Mounts'">
    <app-atv-side-by-side-utv-accessory-mounts></app-atv-side-by-side-utv-accessory-mounts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Amplifiers'">
    <app-atv-side-by-side-utv-amplifiers></app-atv-side-by-side-utv-amplifiers>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Antennas'">
    <app-atv-side-by-side-utv-antennas></app-atv-side-by-side-utv-antennas>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Complete-Audio-Kits'">
    <app-atv-side-by-side-utv-complete-audio-kits></app-atv-side-by-side-utv-complete-audio-kits>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-GPS-Navigation'">
    <app-atv-side-by-side-utv-gps-navigation></app-atv-side-by-side-utv-gps-navigation>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Headsets-Intercoms'">
    <app-atv-side-by-side-utv-headsets-intercoms></app-atv-side-by-side-utv-headsets-intercoms>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Infotainment-Multimedia-Players'">
    <app-atv-side-by-side-utv-infotainment-multimedia-players></app-atv-side-by-side-utv-infotainment-multimedia-players>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Soundbars'">
    <app-atv-side-by-side-utv-soundbars></app-atv-side-by-side-utv-soundbars>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Speakers'">
    <app-atv-side-by-side-utv-speakers></app-atv-side-by-side-utv-speakers>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Stereos-Radios'">
    <app-atv-side-by-side-utv-stereos-radios></app-atv-side-by-side-utv-stereos-radios>
</ng-container>
<ng-container *ngIf="category === 'Audio-Communication-Navigation-Wiring-Harnesses-Cables-Connectors-for-ATVs-Side-by-Sides-UTVs'">
    <app-audio-communication-navigation-wiring-harnesses-cables-connectors-for-atvs-side-by-sides-utvs></app-audio-communication-navigation-wiring-harnesses-cables-connectors-for-atvs-side-by-sides-utvs>
</ng-container>
<ng-container *ngIf="category === 'Other-ATV-Side-by-Side-UTV-Audio-Communication-Navigation'">
    <app-other-atv-side-by-side-utv-audio-communication-navigation></app-other-atv-side-by-side-utv-audio-communication-navigation>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Body-Frame'">
    <app-atv-side-by-side-utv-body-frame></app-atv-side-by-side-utv-body-frame>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Body-Parts-Doors-Fenders'">
    <app-atv-side-by-side-utv-body-parts-doors-fenders></app-atv-side-by-side-utv-body-parts-doors-fenders>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Windshields-Windows'">
    <app-atv-side-by-side-utv-windshields-windows></app-atv-side-by-side-utv-windshields-windows>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Cabs-Doors-Parts'">
    <app-atv-side-by-side-utv-cabs-doors-parts></app-atv-side-by-side-utv-cabs-doors-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fenders'">
    <app-atv-side-by-side-utv-fenders></app-atv-side-by-side-utv-fenders>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Roofs-Tops'">
    <app-atv-side-by-side-utv-roofs-tops></app-atv-side-by-side-utv-roofs-tops>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Hoods'">
    <app-atv-side-by-side-utv-hoods></app-atv-side-by-side-utv-hoods>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fairings-Plastics-Body-Kits'">
    <app-atv-side-by-side-utv-fairings-plastics-body-kits></app-atv-side-by-side-utv-fairings-plastics-body-kits>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Grilles'">
    <app-atv-side-by-side-utv-grilles></app-atv-side-by-side-utv-grilles>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-HVAC-Parts'">
    <app-atv-side-by-side-utv-hvac-parts></app-atv-side-by-side-utv-hvac-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Wipers-Washers-Parts'">
    <app-atv-side-by-side-utv-wipers-washers-parts></app-atv-side-by-side-utv-wipers-washers-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-UTV-Beds'">
    <app-atv-side-by-side-utv-utv-beds></app-atv-side-by-side-utv-utv-beds>
</ng-container>
<ng-container *ngIf="category === 'Additional-ATV-Side-by-Side-UTV-Panels-Parts'">
    <app-additional-atv-side-by-side-utv-panels-parts></app-additional-atv-side-by-side-utv-panels-parts>
</ng-container>
<ng-container *ngIf="category === 'Additional-ATV-Side-by-Side-UTV-Panels-Parts'">
    <app-additional-atv-side-by-side-utv-panels-parts></app-additional-atv-side-by-side-utv-panels-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Bumpers-Parts'">
    <app-atv-side-by-side-utv-bumpers-parts></app-atv-side-by-side-utv-bumpers-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-License-Plates-Frames-Holders'">
    <app-atv-side-by-side-utv-license-plates-frames-holders></app-atv-side-by-side-utv-license-plates-frames-holders>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Mounts-Brackets-Hardware'">
    <app-atv-side-by-side-utv-mounts-brackets-hardware></app-atv-side-by-side-utv-mounts-brackets-hardware>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Running-Boards-Step-Bars'">
    <app-atv-side-by-side-utv-running-boards-step-bars></app-atv-side-by-side-utv-running-boards-step-bars>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Dashboards-Consoles-Parts'">
    <app-atv-side-by-side-utv-dashboards-consoles-parts></app-atv-side-by-side-utv-dashboards-consoles-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Decals-Vinyls'">
    <app-atv-side-by-side-utv-decals-vinyls></app-atv-side-by-side-utv-decals-vinyls>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Emblems-Ornaments'">
    <app-atv-side-by-side-utv-emblems-ornaments></app-atv-side-by-side-utv-emblems-ornaments>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Grab-Bars-Handles'">
    <app-atv-side-by-side-utv-grab-bars-handles></app-atv-side-by-side-utv-grab-bars-handles>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Frames-Subframes-Roll-Cages'">
    <app-atv-side-by-side-utv-frames-subframes-roll-cages></app-atv-side-by-side-utv-frames-subframes-roll-cages>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Frames-Subframes'">
    <app-atv-side-by-side-utv-frames-subframes></app-atv-side-by-side-utv-frames-subframes>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Roll-Cages'">
    <app-atv-side-by-side-utv-roll-cages></app-atv-side-by-side-utv-roll-cages>
</ng-container>
<ng-container *ngIf="category === 'Other-ATV-Side-by-Side-UTV-Body-Frame'">
    <app-other-atv-side-by-side-utv-body-frame></app-other-atv-side-by-side-utv-body-frame>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brakes-Brake-Parts'">
    <app-atv-side-by-side-utv-brakes-brake-parts></app-atv-side-by-side-utv-brakes-brake-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Blockoffs'">
    <app-atv-side-by-side-utv-brake-blockoffs></app-atv-side-by-side-utv-brake-blockoffs>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Cables-Rods'">
    <app-atv-side-by-side-utv-brake-cables-rods></app-atv-side-by-side-utv-brake-cables-rods>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Calipers-Brackets'">
    <app-atv-side-by-side-utv-calipers-brackets></app-atv-side-by-side-utv-calipers-brackets>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Component-Kits'">
    <app-atv-side-by-side-utv-brake-component-kits></app-atv-side-by-side-utv-brake-component-kits>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Disc-Rotors'">
    <app-atv-side-by-side-utv-brake-disc-rotors></app-atv-side-by-side-utv-brake-disc-rotors>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Drums'">
    <app-atv-side-by-side-utv-brake-drums></app-atv-side-by-side-utv-brake-drums>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Lines-Hoses-Fittings'">
    <app-atv-side-by-side-utv-brake-lines-hoses-fittings></app-atv-side-by-side-utv-brake-lines-hoses-fittings>
</ng-container>
<ng-container *ngIf="category === 'TV-Side-by-Side-UTV-Brake-Master-Cylinders'">
    <app-atv-side-by-side-utv-brake-master-cylinders></app-atv-side-by-side-utv-brake-master-cylinders>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Pads'">
    <app-atv-side-by-side-utv-brake-pads></app-atv-side-by-side-utv-brake-pads>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Shoes'">
    <app-atv-side-by-side-utv-brake-shoes></app-atv-side-by-side-utv-brake-shoes>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Pad-Shoe-Hardware'">
    <app-atv-side-by-side-utv-brake-pad-shoe-hardware></app-atv-side-by-side-utv-brake-pad-shoe-hardware>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Brake-Sensors-Switches'">
    <app-atv-side-by-side-utv-brake-sensors-switches></app-atv-side-by-side-utv-brake-sensors-switches>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Rebuild-Kits-Parts'">
    <app-atv-side-by-side-utv-rebuild-kits-parts></app-atv-side-by-side-utv-rebuild-kits-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Reservoirs-Caps-Covers'">
    <app-atv-side-by-side-utv-reservoirs-caps-covers></app-atv-side-by-side-utv-reservoirs-caps-covers>
</ng-container>
<ng-container *ngIf="category === 'Other-ATV-Side-by-Side-UTV-Brake-Parts'">
    <app-other-atv-side-by-side-utv-brake-parts></app-other-atv-side-by-side-utv-brake-parts>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Parts'">
    <app-electric-atv-sx-s-utv-parts></app-electric-atv-sx-s-utv-parts>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Batteries-BMS-Charging-Units'">
    <app-electric-atv-sx-s-utv-batteries-bms-charging-units></app-electric-atv-sx-s-utv-batteries-bms-charging-units>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Batteries'">
    <app-electric-atv-sx-s-utv-batteries></app-electric-atv-sx-s-utv-batteries>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Battery-Accessories'">
    <app-electric-atv-sx-s-utv-battery-accessories></app-electric-atv-sx-s-utv-battery-accessories>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Battery-Management-Systems-BMS'">
    <app-electric-atv-sx-s-utv-battery-management-systems-bms></app-electric-atv-sx-s-utv-battery-management-systems-bms>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Charging-Stations'">
    <app-electric-atv-sx-s-utv-charging-stations></app-electric-atv-sx-s-utv-charging-stations>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Battery-BMS-Units'">
    <app-electric-atv-sx-s-utv-battery-bms-units></app-electric-atv-sx-s-utv-battery-bms-units>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Mobile-Charging'">
    <app-electric-atv-sx-s-utv-mobile-charging></app-electric-atv-sx-s-utv-mobile-charging>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Charging-Components'">
    <app-electric-atv-sx-s-utv-charging-components></app-electric-atv-sx-s-utv-charging-components>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Charging-Cables'">
    <app-electric-atv-sx-s-utv-charging-cables></app-electric-atv-sx-s-utv-charging-cables>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Charger-Carry-Cases'">
    <app-electric-atv-sx-s-utv-charger-carry-cases></app-electric-atv-sx-s-utv-charger-carry-cases>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Charging-Converters'">
    <app-electric-atv-sx-s-utv-charging-converters></app-electric-atv-sx-s-utv-charging-converters>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Charger-Holders'">
    <app-electric-atv-sx-s-utv-charger-holders></app-electric-atv-sx-s-utv-charger-holders>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Charging-Upgrade-Kits'">
    <app-electric-atv-sx-s-utv-charging-upgrade-kits></app-electric-atv-sx-s-utv-charging-upgrade-kits>
</ng-container>
<ng-container *ngIf="category === 'Other-Electric-ATV-SxS-UTV-Charging-Components'">
    <app-other-electric-atv-sx-s-utv-charging-components></app-other-electric-atv-sx-s-utv-charging-components>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Control-Modules'">
    <app-electric-atv-sx-s-utv-control-modules></app-electric-atv-sx-s-utv-control-modules>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Conversion-Kits'">
    <app-electric-atv-sx-s-utv-conversion-kits></app-electric-atv-sx-s-utv-conversion-kits>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Converters-Inverters'">
    <app-electric-atv-sx-s-utv-converters-inverters></app-electric-atv-sx-s-utv-converters-inverters>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Cooling-Components'">
    <app-electric-atv-sx-s-utv-cooling-components></app-electric-atv-sx-s-utv-cooling-components>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Cooling-Plates'">
    <app-electric-atv-sx-s-utv-cooling-plates></app-electric-atv-sx-s-utv-cooling-plates>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Fans'">
    <app-electric-atv-sx-s-utv-fans></app-electric-atv-sx-s-utv-fans>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Heatsinks-Cooling-Fins'">
    <app-electric-atv-sx-s-utv-heatsinks-cooling-fins></app-electric-atv-sx-s-utv-heatsinks-cooling-fins>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Drive-Motors-Parts'">
    <app-electric-atv-sx-s-utv-drive-motors-parts></app-electric-atv-sx-s-utv-drive-motors-parts>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Drive-Motors'">
    <app-electric-atv-sx-s-utv-drive-motors></app-electric-atv-sx-s-utv-drive-motors>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Drive-Motor-Parts'">
    <app-electric-atv-sx-s-utv-drive-motor-parts></app-electric-atv-sx-s-utv-drive-motor-parts>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-High-Voltage-Circuit-Fuses-Breakers'">
    <app-electric-atv-sx-s-utv-high-voltage-circuit-fuses-breakers></app-electric-atv-sx-s-utv-high-voltage-circuit-fuses-breakers>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Relays-Contactors'">
    <app-electric-atv-sx-s-utv-relays-contactors></app-electric-atv-sx-s-utv-relays-contactors>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Switches'">
    <app-electric-atv-sx-s-utv-switches></app-electric-atv-sx-s-utv-switches>
</ng-container>
<ng-container *ngIf="category === 'Electric-ATV-SxS-UTV-Wiring-Harnesses-Cables-Connectors'">
    <app-electric-atv-sx-s-utv-wiring-harnesses-cables-connectors></app-electric-atv-sx-s-utv-wiring-harnesses-cables-connectors>
</ng-container>
<ng-container *ngIf="category === 'Other-Electric-ATV-Side-by-Side-UTV-Parts'">
    <app-other-electric-atv-side-by-side-utv-parts></app-other-electric-atv-side-by-side-utv-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Electrical-Ignition-Components'">
    <app-atv-side-by-side-utv-electrical-ignition-components></app-atv-side-by-side-utv-electrical-ignition-components>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Alternators-Generators'">
    <app-atv-side-by-side-utv-alternators-generators></app-atv-side-by-side-utv-alternators-generators>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Alternator-Generator-Parts'">
    <app-atv-side-by-side-utv-alternator-generator-parts></app-atv-side-by-side-utv-alternator-generator-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Batteries'">
    <app-atv-side-by-side-utv-batteries></app-atv-side-by-side-utv-batteries>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Battery-Accessories'">
    <app-atv-side-by-side-utv-battery-accessories></app-atv-side-by-side-utv-battery-accessories>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Distributors'">
    <app-atv-side-by-side-utv-distributors></app-atv-side-by-side-utv-distributors>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Distributor-Parts'">
    <app-atv-side-by-side-utv-distributor-parts></app-atv-side-by-side-utv-distributor-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-ECUs-CDIs-Computer-Modules'">
    <app-atv-side-by-side-utv-ecus-cdis-computer-modules></app-atv-side-by-side-utv-ecus-cdis-computer-modules>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Electrical-Ignition-Sensors-Switches'">
    <app-atv-side-by-side-utv-electrical-ignition-sensors-switches></app-atv-side-by-side-utv-electrical-ignition-sensors-switches>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Ignition-Key-Switches'">
    <app-atv-side-by-side-utv-ignition-key-switches></app-atv-side-by-side-utv-ignition-key-switches>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Sensors-Switches'">
    <app-atv-side-by-side-utv-sensors-switches></app-atv-side-by-side-utv-sensors-switches>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Fuses-Fuse-Boxes'">
    <app-atv-side-by-side-utv-fuses-fuse-boxes></app-atv-side-by-side-utv-fuses-fuse-boxes>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Horns-Horn-Covers'">
    <app-atv-side-by-side-utv-horns-horn-covers></app-atv-side-by-side-utv-horns-horn-covers>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Ignition-Coils'">
    <app-atv-side-by-side-utv-ignition-coils></app-atv-side-by-side-utv-ignition-coils>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Ignition-Kits'">
    <app-atv-side-by-side-utv-ignition-kits></app-atv-side-by-side-utv-ignition-kits>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Ignition-Wires-Caps-Boots'">
    <app-atv-side-by-side-utv-ignition-wires-caps-boots></app-atv-side-by-side-utv-ignition-wires-caps-boots>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Relays'">
    <app-atv-side-by-side-utv-relays></app-atv-side-by-side-utv-relays>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Spark-Plugs-Glow-Plugs'">
    <app-atv-side-by-side-utv-spark-plugs-glow-plugs></app-atv-side-by-side-utv-spark-plugs-glow-plugs>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Starter-Motors'">
    <app-atv-side-by-side-utv-starter-motors></app-atv-side-by-side-utv-starter-motors>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Starter-Motor-Parts'">
    <app-atv-side-by-side-utv-starter-motor-parts></app-atv-side-by-side-utv-starter-motor-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Stators-Magnetos'">
    <app-atv-side-by-side-utv-stators-magnetos></app-atv-side-by-side-utv-stators-magnetos>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Stator-Magneto-Parts'">
    <app-atv-side-by-side-utv-stator-magneto-parts></app-atv-side-by-side-utv-stator-magneto-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Voltage-Regulators-Rectifiers'">
    <app-atv-side-by-side-utv-voltage-regulators-rectifiers></app-atv-side-by-side-utv-voltage-regulators-rectifiers>
</ng-container>
<ng-container *ngIf="category === 'Electrical-Ignition-Wiring-Harnesses-Cables-Connectors-for-ATVs-Side-by-Sides-UTVs'">
    <app-electrical-ignition-wiring-harnesses-cables-connectors-for-atvs-side-by-sides-utvs></app-electrical-ignition-wiring-harnesses-cables-connectors-for-atvs-side-by-sides-utvs>
</ng-container>
<ng-container *ngIf="category === 'Other-ATV-Side-by-Side-UTV-Electrical-Ignition-Components'">
    <app-other-atv-side-by-side-utv-electrical-ignition-components></app-other-atv-side-by-side-utv-electrical-ignition-components>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Cooling'">
    <app-atv-side-by-side-utv-engine-cooling></app-atv-side-by-side-utv-engine-cooling>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Clamps-Hardware'">
    <app-atv-side-by-side-utv-engine-clamps-hardware></app-atv-side-by-side-utv-engine-clamps-hardware>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Expansion-Overflow-Tanks'">
    <app-atv-side-by-side-utv-engine-expansion-overflow-tanks></app-atv-side-by-side-utv-engine-expansion-overflow-tanks>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Fans-Fan-Parts'">
    <app-atv-side-by-side-utv-engine-fans-fan-parts></app-atv-side-by-side-utv-engine-fans-fan-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Gaskets-Seals-O-Rings'">
    <app-atv-side-by-side-utv-engine-gaskets-seals-o-rings></app-atv-side-by-side-utv-engine-gaskets-seals-o-rings>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Oil-Coolers-Lines'">
    <app-atv-side-by-side-utv-engine-oil-coolers-lines></app-atv-side-by-side-utv-engine-oil-coolers-lines>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Pipes-Hoses'">
    <app-atv-side-by-side-utv-engine-pipes-hoses></app-atv-side-by-side-utv-engine-pipes-hoses>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Radiator-Coolant-Reservoir-Caps'">
    <app-atv-side-by-side-utv-radiator-coolant-reservoir-caps></app-atv-side-by-side-utv-radiator-coolant-reservoir-caps>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Radiators'">
    <app-atv-side-by-side-utv-engine-radiators></app-atv-side-by-side-utv-engine-radiators>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Temperature-Sensors-Switches'">
    <app-atv-side-by-side-utv-engine-temperature-sensors-switches></app-atv-side-by-side-utv-engine-temperature-sensors-switches>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Thermostats-Housings'">
    <app-atv-side-by-side-utv-engine-thermostats-housings></app-atv-side-by-side-utv-engine-thermostats-housings>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Water-Pumps'">
    <app-atv-side-by-side-utv-water-pumps></app-atv-side-by-side-utv-water-pumps>
</ng-container>
<ng-container *ngIf="category === 'Other-ATV-Side-by-Side-UTV-Engine-Cooling-Parts'">
    <app-other-atv-side-by-side-utv-engine-cooling-parts></app-other-atv-side-by-side-utv-engine-cooling-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engines-Engine-Parts'">
    <app-atv-side-by-side-utv-engines-engine-parts></app-atv-side-by-side-utv-engines-engine-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Brackets-Hardware'">
    <app-atv-side-by-side-utv-engine-brackets-hardware></app-atv-side-by-side-utv-engine-brackets-hardware>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Complete-Cylinders'">
    <app-atv-side-by-side-utv-complete-cylinders></app-atv-side-by-side-utv-complete-cylinders>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Complete-Engines'">
    <app-atv-side-by-side-utv-complete-engines></app-atv-side-by-side-utv-complete-engines>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Connecting-Rods-Parts'">
    <app-atv-side-by-side-utv-connecting-rods-parts></app-atv-side-by-side-utv-connecting-rods-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Crankshafts'">
    <app-atv-side-by-side-utv-crankshafts></app-atv-side-by-side-utv-crankshafts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Cylinder-Bolts'">
    <app-atv-side-by-side-utv-cylinder-bolts></app-atv-side-by-side-utv-cylinder-bolts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Cylinder-Heads'">
    <app-atv-side-by-side-utv-cylinder-heads></app-atv-side-by-side-utv-cylinder-heads>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Bearings'">
    <app-atv-side-by-side-utv-engine-bearings></app-atv-side-by-side-utv-engine-bearings>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Covers'">
    <app-atv-side-by-side-utv-engine-covers></app-atv-side-by-side-utv-engine-covers>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Crankcases'">
    <app-atv-side-by-side-utv-engine-crankcases></app-atv-side-by-side-utv-engine-crankcases>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Mounts'">
    <app-atv-side-by-side-utv-engine-mounts></app-atv-side-by-side-utv-engine-mounts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Rebuild-Kits-Components'">
    <app-atv-side-by-side-utv-engine-rebuild-kits-components></app-atv-side-by-side-utv-engine-rebuild-kits-components>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Sensors-Switches'">
    <app-atv-side-by-side-utv-engine-sensors-switches></app-atv-side-by-side-utv-engine-sensors-switches>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Flywheels-Flywheel-Parts'">
    <app-atv-side-by-side-utv-flywheels-flywheel-parts></app-atv-side-by-side-utv-flywheels-flywheel-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Gaskets-Seals-Kits'">
    <app-atv-side-by-side-utv-engine-gaskets-seals-kits></app-atv-side-by-side-utv-engine-gaskets-seals-kits>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Kick-Start-Levers'">
    <app-atv-side-by-side-utv-kick-start-levers></app-atv-side-by-side-utv-kick-start-levers>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Oil-Drain-Plugs-Filler-Caps-Dipsticks'">
    <app-atv-side-by-side-utv-oil-drain-plugs-filler-caps-dipsticks></app-atv-side-by-side-utv-oil-drain-plugs-filler-caps-dipsticks>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Oil-Filters'">
    <app-atv-side-by-side-utv-oil-filters></app-atv-side-by-side-utv-oil-filters>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Oil-Pans'">
    <app-atv-side-by-side-utv-oil-pans></app-atv-side-by-side-utv-oil-pans>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Oil-Pumps-Parts'">
    <app-atv-side-by-side-utv-oil-pumps-parts></app-atv-side-by-side-utv-oil-pumps-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Oil-Tanks'">
    <app-atv-side-by-side-utv-oil-tanks></app-atv-side-by-side-utv-oil-tanks>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Pistons-Rings-Piston-Kits'">
    <app-atv-side-by-side-utv-pistons-rings-piston-kits></app-atv-side-by-side-utv-pistons-rings-piston-kits>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Service-Kits'">
    <app-atv-side-by-side-utv-service-kits></app-atv-side-by-side-utv-service-kits>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Timing-Components-Kits'">
    <app-atv-side-by-side-utv-timing-components-kits></app-atv-side-by-side-utv-timing-components-kits>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Guide-Rails'">
    <app-atv-side-by-side-utv-guide-rails></app-atv-side-by-side-utv-guide-rails>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Sprockets'">
    <app-atv-side-by-side-utv-sprockets></app-atv-side-by-side-utv-sprockets>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Tensioners-Pulleys'">
    <app-atv-side-by-side-utv-tensioners-pulleys></app-atv-side-by-side-utv-tensioners-pulleys>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Timing-Belts-Chains'">
    <app-atv-side-by-side-utv-timing-belts-chains></app-atv-side-by-side-utv-timing-belts-chains>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Timing-Kits'">
    <app-atv-side-by-side-utv-engine-timing-kits></app-atv-side-by-side-utv-engine-timing-kits>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Valvetrain-Components'">
    <app-atv-side-by-side-utv-valvetrain-components></app-atv-side-by-side-utv-valvetrain-components>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Camshafts'">
    <app-atv-side-by-side-utv-camshafts></app-atv-side-by-side-utv-camshafts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Engine-Valves'">
    <app-atv-side-by-side-utv-engine-valves></app-atv-side-by-side-utv-engine-valves>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Push-Rods'">
    <app-atv-side-by-side-utv-push-rods></app-atv-side-by-side-utv-push-rods>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Rocker-Arms-Parts'">
    <app-atv-side-by-side-utv-rocker-arms-parts></app-atv-side-by-side-utv-rocker-arms-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Tappets-Lifters'">
    <app-atv-side-by-side-utv-tappets-lifters></app-atv-side-by-side-utv-tappets-lifters>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Valve-Guides-Springs-Parts'">
    <app-atv-side-by-side-utv-valve-guides-springs-parts></app-atv-side-by-side-utv-valve-guides-springs-parts>
</ng-container>
<ng-container *ngIf="category === 'ATV-Side-by-Side-UTV-Variable-Valve-Timing-Parts'">
    <app-atv-side-by-side-utv-variable-valve-timing-parts></app-atv-side-by-side-utv-variable-valve-timing-parts>
</ng-container>
<ng-container *ngIf="category === 'Other-ATV-Side-by-Side-UTV-Engine-Parts'">
    <app-other-atv-side-by-side-utv-engine-parts></app-other-atv-side-by-side-utv-engine-parts>
</ng-container>
