<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Timing Components & Kits</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Timing Components & Kits</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
                    </li>
                    <li class="actual">
                        <a>Timing Components & Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Guide-Rails">Guide Rails</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Sprockets">Sprockets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Tensioners-Pulleys">Tensioners & Pulleys</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Timing-Belts">Timing Belts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Timing-Chains">Timing Chains</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Timing-Covers">Timing Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Timing-Kits">Timing Kits</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Guide-Rails">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/categories/1.webp">
                        <div>Guide Rails</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Sprockets">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/categories/2.webp">
                        <div>Sprockets</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Tensioners-Pulleys">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/categories/3.webp">
                        <div>Tensioners & Pulleys</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Timing-Belts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/categories/4.webp">
                        <div>Timing Belts</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Timing-Chains">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/categories/5.webp">
                        <div>Timing Chains</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Timing-Covers">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/categories/6.webp">
                        <div>Timing Covers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Timing-Kits">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/categories/7.webp">
                        <div>Timing Kits</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/timing-components-kits/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
