<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Towing, Recovery & Accessories</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV & UTV Towing, Recovery & Accessories</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Towing, Recovery & Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Tow-Ropes-Chains-Straps">Tow Ropes, Chains & Straps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Trailer-Hitches">Trailer Hitches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Trailer-Hitch-Accessories">Trailer Hitch Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Winches">Winches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Winch-Accessories">Winch Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Winches">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/categories/1.webp">
                        <div>Winches</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Winch-Accessories">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/categories/2.webp">
                        <div>Winch Accessories</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Trailer-Hitches">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/categories/3.webp">
                        <div>Trailer Hitches</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Trailer-Hitch-Accessories">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/categories/4.webp">
                        <div>Trailer Hitch Accessories</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Tow-Ropes-Chains-Straps">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/categories/5.webp">
                        <div>Tow Ropes, Chains & Straps</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/1.webp">
                        <div>KFI Products</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/2.webp">
                        <div>Warn</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/3.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/4.webp">
                        <div>Venom</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/5.webp">
                        <div>SuperATV</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/6.webp">
                        <div>X-Bull</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/7.webp">
                        <div>Xtreme</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/8.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/9.webp">
                        <div>All Balls</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/towing-recovery-accessories/brands/10.webp">
                        <div>Moose Utility</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
