<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Electric-ATV-SxS-UTV-Parts">Electric ATV, SxS & UTV Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Electric-ATV-SxS-UTV-Charging-Components">Charging Components</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Charger Carry Cases</a>
        </div>
    </div>
    <div class="title">
        <h1>Electric ATV, SxS & UTV Charger Carry Cases</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Charging-Components">Charging Components</a>
                    </li>
                    <li class="actual">
                        <a>Charger Carry Cases</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Charging-Cables">Charging Cables</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Charging-Converters">Charging Converters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Charger-Holders">Charger Holders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Charging-Upgrade-Kits">Charging Upgrade Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Electric-ATV-SxS-UTV-Charging-Components">Other Charging Components</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
