<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Engine-Cooling-Components">Engine Cooling Components</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Water Pumps</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Water Pumps</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Engine-Cooling-Components">Engine Cooling Components</a>
                    </li>
                    <li class="actual">
                        <a>Water Pumps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Caps">Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Cooling-Clamps-Hardware">Clamps & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Coolant-Hoses">Coolant Hoses</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Oil-Coolers-Lines">Engine Oil Coolers & Lines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Expansion-Overflow-Tanks">Expansion & Overflow Tanks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Shroud-Assemblies">Fan & Shroud Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Blades">Fan Blades</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Clutches">Fan Clutches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Motors">Fan Motors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Cooling-Gaskets-Seals-O-Rings">Gaskets, Seals & O-Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Radiators">Radiators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Temperature-Sensors">Temperature Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Thermostats-Housings">Thermostats & Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Engine-Cooling-Components">Other Engine Cooling Components</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
