<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Electric-ATV-SxS-UTV-Parts">Electric ATV, SxS & UTV Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Switches</a>
        </div>
    </div>
    <div class="title">
        <h1>Electric ATV, SxS & UTV Switches</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Parts">Electric ATV, SxS & UTV Parts</a>
                    </li>
                    <li class="actual">
                        <a>Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Batteries-BMS-Charging-Units">Batteries, BMS & Charging Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Charging-Components">Charging Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Control-Modules">Control Modules</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Conversion-Kits">Conversion Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Converters-Inverters">Converters & Inverters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Cooling-Components">Cooling Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Drive-Motors-Parts">Drive Motors & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-High-Voltage-Circuit-Fuses-Breakers">High Voltage Circuit Fuses & Breakers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Relays-Contactors">Relays & Contactors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-ATV-SxS-UTV-Wiring-Harnesses-Cables-Connectors">Wiring Harnesses, Cables & Connectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Electric-ATV-Side-by-Side-UTV-Parts">Other Electric ATV, Side-by-Side & UTV Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
