<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Parts">Boat Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Outboard-Engines-Components">Outboard Engines & Components</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Complete Outboard Engines</a>
        </div>
    </div>
    <div class="title">
        <h1>Complete Outboard Engines</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Outboard-Engines-Components">Outboard Engines & Components</a>
                    </li>
                    <li class="actual">
                        <a>Complete Outboard Engines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-Outboard-Powerheads">Complete Outboard Powerheads</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-Outboard-Lower-Units">Complete Outboard Lower Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Anodes">Anodes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Conversion-Kits">Conversion Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Cooling-Systems">Cooling Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Cowlings-Housings">Cowlings & Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Electrical-Systems">Electrical Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Exhaust-Systems">Exhaust Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Ignition-Starting-Systems">Ignition & Starting Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Intake-Fuel-Systems">Intake & Fuel Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Lower-Unit-Components">Lower Unit Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Mid-Sections">Mid-Sections</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Mounting-Brackets">Mounting & Brackets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Oil-Systems">Oil Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Powerhead-Components">Powerhead Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Engine-Rigging">Rigging</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Trim-Tilt">Trim & Tilt</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Outboard-Engines-Components">Other</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="makes">
                <h2>Shop by Engine (HP)</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/engines/1.webp">
                        <div>Under 10 HP</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/engines/2.webp">
                        <div>10-49 HP</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/engines/3.webp">
                        <div>50-99 HP</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/engines/4.webp">
                        <div>100-200 HP</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/engines/5.webp">
                        <div>Over 200 HP</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/makes/1.webp">
                        <div>Mercury</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/makes/2.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/makes/4.webp">
                        <div>Evinrude</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/makes/5.webp">
                        <div>Johnson</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/outboard-engines-components/complete-outboard-engines/makes/6.webp">
                        <div>Suzuki</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
