<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Boat Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Boat Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Boat Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Accessories-Gear">Accessories & Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Anchoring-Docking">Anchoring, Docking</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Body-Parts">Body Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Controls-Steering">Controls & Steering</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Deck-Cabin-Hardware">Deck & Cabin Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Electrical-Lighting">Electrical & Lighting</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Electronics-Navigation">Electronics & Navigation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Inboard-Engines-Components">Inboard Engines & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Interior-Cabin-Galley">Interior, Cabin & Galley</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Jet-Drives">Jet Drives</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Marine-Batteries">Marine Batteries</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Marine-Rope">Marine Rope</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Memorabilia">Memorabilia</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Engines-Components">Outboard Engines & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Plumbing-Ventilation">Plumbing & Ventilation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Propellers">Propellers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sailing-Hardware-Gear">Sailing Hardware & Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Service-Tools">Service Tools</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Sterndrive-Motors-Components">Sterndrive Motors & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Boat-Trailer-Parts">Trailer Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Trolling-Motors-Components">Trolling Motors & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Boat-Parts">Other</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Outboard-Engines-Components">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/1.webp">
                        <div>Outboard Engines & Components</div>
                    </a>
                    <a class="item" routerLink="/c/Inboard-Engines-Components">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/2.webp">
                        <div>Inboard Engines & Components</div>
                    </a>
                    <a class="item" routerLink="/c/Boat-Controls-Steering">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/3.webp">
                        <div>Controls & Steering</div>
                    </a>
                    <a class="item" routerLink="/c/Boat-Electronics-Navigation">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/4.webp">
                        <div>Electronics & Navigation</div>
                    </a>
                    <a class="item" routerLink="/c/Boat-Accessories-Gear">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/5.webp">
                        <div>Accessories & Gear</div>
                    </a>
                    <a class="item" routerLink="/c/Boat-Propellers">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/6.webp">
                        <div>Propellers</div>
                    </a>
                    <a class="item" routerLink="/c/Boat-Electrical-Lighting">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/7.webp">
                        <div>Electrical & Lighting</div>
                    </a>
                    <a class="item" routerLink="/c/Boat-Plumbing-Ventilation">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/8.webp">
                        <div>Plumbing & Ventilation</div>
                    </a>
                    <a class="item" routerLink="/c/Boat-Anchoring-Docking">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/9.webp">
                        <div>Anchoring & Docking</div>
                    </a>
                    <a class="item" routerLink="/c/Sterndrive-Motors-Components">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/categories/10.webp">
                        <div>Sterndrive Motors & Components</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/1.webp">
                        <div>Mercury</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/2.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/3.webp">
                        <div>MerCruiser</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/4.webp">
                        <div>Sea Ray</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/5.webp">
                        <div>Evinrude</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/6.webp">
                        <div>Johnson</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/7.webp">
                        <div>Sierra</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/8.webp">
                        <div>Volvo Penta</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/9.webp">
                        <div>OMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/10.webp">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/11.webp">
                        <div>Minn Kota</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/boat-parts/brands/12.webp">
                        <div>Honda</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
