<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Accessory-Belts-Parts">Accessory Belts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Pulleys</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Pulleys</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Accessory-Belts-Parts">Accessory Belts</a>
                    </li>
                    <li class="actual">
                        <a>Pulleys</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Belts">Belts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Idlers-Tensioners">Idlers & Tensioners</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Belt-Parts">Other Belt Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/categories/1.webp">
                        <div>Alternator Pulleys</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/categories/2.webp">
                        <div>Crank Pulleys</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/categories/3.webp">
                        <div>Fan Pulleys</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/categories/4.webp">
                        <div>Power Steering Pump Pulleys</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/categories/5.webp">
                        <div>Water Pump Pulleys</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/brands/1.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/brands/2.webp">
                        <div>CVF Racing</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/brands/3.webp">
                        <div>Dorman</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/brands/4.webp">
                        <div>Gates</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/accessory-belts/pulleys/brands/5.webp">
                        <div>Mopar</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
