<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Valvetrain Components</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Valvetrain Components</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
                    </li>
                    <li class="actual">
                        <a>Valvetrain Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Camshafts">Camshafts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Push-Rods">Push Rods</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Rocker-Valve-Covers">Rocker & Valve Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Rocker-Arms-Parts">Rocker Arms & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Tappets-Lifters">Tappets & Lifters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Valves">Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Valve-Guides-Springs-Parts">Valve Guides, Springs & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Variable-Valve-Timing-Parts">Variable Valve Timing Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Type</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Camshafts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/1.webp">
                        <div>Camshafts</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/2.webp">
                        <div>Exhaust Valves</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/3.webp">
                        <div>Intake Valves</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Tappets-Lifters">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/4.webp">
                        <div>Lifters</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/5.webp">
                        <div>Lifter Sets</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Rocker-Arms-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/6.webp">
                        <div>Rocker Arms</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/7.webp">
                        <div>Solenoids</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/8.webp">
                        <div>Sprockets</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/9.webp">
                        <div>Valve Covers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/types/10.webp">
                        <div>Valve Cover Sets</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engines-engine-parts/valvetrain-components/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
