<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Electric-Hybrid-PHEV-Car-Truck-Specific-Parts">Electric, Hybrid & PHEV Specific Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Charging Components</a>
        </div>
    </div>
    <div class="title">
        <h1>Electric Car & Truck Charging Components</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Electric-Hybrid-PHEV-Car-Truck-Specific-Parts">Electric, Hybrid & PHEV Specific Parts</a>
                    </li>
                    <li class="actual">
                        <a>Charging Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charging-Cables">Charging Cables</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charger-Carry-Cases">Charger Carry Cases</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charging-Converters">Charging Converters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charger-Holders">Charger Holders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charging-Upgrade-Kits">Charging Upgrade Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Charging-Components">Other Charging Components</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-components/categories/1.webp">
                        <div>Adapters</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Charging-Cables">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-components/categories/2.webp">
                        <div>Cables</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-components/categories/3.webp">
                        <div>Connectors</div>
                    </a>
                    <a class="item" routerLink="/c/Electric-Car-Truck-Charger-Holders">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-components/categories/4.webp">
                        <div>Holders</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-components/makes/1.webp">
                        <div>Audi</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-components/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-components/makes/3.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-components/makes/4.webp">
                        <div>Hyundai</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-components/makes/5.webp">
                        <div>Tesla</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
