<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Instruments & Gauges</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Instruments & Gauges</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Instruments & Gauges</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Individual-Gauges">Individual Gauges</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Instrument-Gauge-Parts">Instrument & Gauge Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Instrument-Clusters">Instrument Clusters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Instrument-Drive-Cables">Instrument Drive Cables</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Instrument-Wiring-Harnesses-Cables-Connectors">Wiring Harnesses, Cables & Connectors</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Instrument-Clusters">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/instruments-gauges/categories/1.webp">
                        <div>Instrument Clusters</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Individual-Gauges">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/hand-foot-controls/categories/2.webp">
                        <div>Individual Gauges</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Instrument-Gauge-Parts">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/hand-foot-controls/categories/3.webp">
                        <div>Instrument & Gauge Parts</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Instrument-Drive-Cables">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/hand-foot-controls/categories/4.webp">
                        <div>Instrument Drive Cables</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Instrument-Wiring-Harnesses-Cables-Connectors">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/hand-foot-controls/categories/5.webp">
                        <div>Wiring Harnesses, Cables & Connectors</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/instruments-gauges/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/instruments-gauges/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/instruments-gauges/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/instruments-gauges/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/instruments-gauges/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
