<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Engine Cooling Components</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Engine Cooling Components</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Engine Cooling Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Caps">Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Cooling-Clamps-Hardware">Clamps & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Coolant-Hoses">Coolant Hoses</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Oil-Coolers-Lines">Engine Oil Coolers & Lines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Expansion-Overflow-Tanks">Expansion & Overflow Tanks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Shroud-Assemblies">Fan & Shroud Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Blades">Fan Blades</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Clutches">Fan Clutches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fan-Motors">Fan Motors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Cooling-Gaskets-Seals-O-Rings">Gaskets, Seals & O-Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Radiators">Radiators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Temperature-Sensors">Temperature Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Thermostats-Housings">Thermostats & Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Water-Pumps">Water Pumps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Engine-Cooling-Components">Other Engine Cooling Components</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Engine-Radiators">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/1.webp">
                        <div>Engine Radiators</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Fan-Shroud-Assemblies">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/2.webp">
                        <div>Fan & Shroud Assemblies</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Water-Pumps">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/3.webp">
                        <div>Water Pumps</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Coolant-Hoses">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/4.webp">
                        <div>Engine Coolant Hoses</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Oil-Coolers-Lines">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/5.webp">
                        <div>Engine Oil Coolers & Lines</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Thermostats-Housings">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/6.webp">
                        <div>Engine Thermostats & Housings</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Expansion-Overflow-Tanks">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/7.webp">
                        <div>Expansion & Overflow Tanks</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Caps">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/8.webp">
                        <div>Engine Caps</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Engine-Cooling-Clamps-Hardware">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/9.webp">
                        <div>Engine Cooling Clamps & Hardware</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Temperature-Sensors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/categories/10.webp">
                        <div>Temperature Sensors</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/engine-cooling-components/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes-link">
                <h2>Shop by Make</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Abarth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Acura</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AM General</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Apollo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Aston Martin</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Audi</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Austin Healey</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Avanti</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bentley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Blue Bird</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Buick</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Case</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Caterpillar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Cleveland</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Crown Coach</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DAF</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daihatsu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daimler</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Datsun</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Davis</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>De Tomaso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Diamond Reo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Edsel</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>El Dorado</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Essex</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>FAW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ferrari</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Foton</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Freightliner</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Giant</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Gillig</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Healey</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hino</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hudson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hummer</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hyundai</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>IC Corporation</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Infiniti</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>International Harvester</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Iso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Isuzu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Iveco</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Jaguar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kenworth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lada</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lamborghini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Land Rover</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>LaSalle</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lincoln</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lotus</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mack</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Maserati</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>McLaren</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercury</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi Fuso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Morgan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Moskvich</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nash</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nova Bus Corporation</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Packard</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peterbilt</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peugeot</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pierce-Arrow</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pontiac</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Porsche</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ram</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Riley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Roadmaster Rail</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rolls-Royce</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rover</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Saleen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Shelby</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Spartan Motors</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SRT</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SsangYong</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling Truck</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Stewart & Stevenson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Studebaker</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Subaru</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Tesla</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Toyota</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>UD</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Unimog</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Van Hool</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Vespa</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volkswagen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volvo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Western Star</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Whippet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Willys</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
