<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Boat-Parts">Boat Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Outboard-Engines-Components">Outboard Engines & Components</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Rigging</a>
        </div>
    </div>
    <div class="title">
        <h1>Outboard Engine Rigging</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Outboard-Engines-Components">Outboard Engines & Components</a>
                    </li>
                    <li class="actual">
                        <a>Rigging</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-Outboard-Engines">Complete Outboard Engines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-Outboard-Powerheads">Complete Outboard Powerheads</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-Outboard-Lower-Units">Complete Outboard Lower Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Anodes">Anodes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Conversion-Kits">Conversion Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Cooling-Systems">Cooling Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Cowlings-Housings">Cowlings & Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Electrical-Systems">Electrical Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Exhaust-Systems">Exhaust Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Ignition-Starting-Systems">Ignition & Starting Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Intake-Fuel-Systems">Intake & Fuel Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Lower-Unit-Components">Lower Unit Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Mid-Sections">Mid-Sections</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Mounting-Brackets">Mounting & Brackets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Oil-Systems">Oil Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Powerhead-Components">Powerhead Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Outboard-Trim-Tilt">Trim & Tilt</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Outboard-Engines-Components">Other</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
