<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Air-Fuel-Delivery">Air & Fuel Delivery</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Fuel Filters</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Fuel Filters</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Air-Fuel-Delivery">Air & Fuel Delivery</a>
                    </li>
                    <li class="actual">
                        <a>Fuel Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Filters">Air Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Filter-Housings">Air Filter Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Intake-Fuel-Sensors">Air Intake & Fuel Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Carburetors">Carburetors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Carburetor-Parts">Carburetor Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Injection-Parts">Fuel Injection Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Pumps-Sending-Units">Fuel Pumps & Sending Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Tank-Caps">Fuel Tank Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Tanks-Filler-Necks">Fuel Tanks & Filler Necks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Fuel-Delivery-Gaskets-Seals-O-Rings">Gaskets, Seals & O-Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Hoses-Lines-Pipes">Hoses, Lines & Pipes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Intake-Manifolds">Intake Manifolds</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Throttle-Bodies">Throttle Bodies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Throttle-Cables-Linkages">Throttle Cables & Linkages</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Turbos-Superchargers-Intercoolers">Turbos, Superchargers & Intercoolers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Vacuum-Pumps">Vacuum Pumps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Air-Fuel-Delivery">Other Air & Fuel Delivery</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/fuel-filters/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
