<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Exterior-Parts-Accessories">Exterior Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Doors, Trunk Lids & Hatches</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Doors, Trunk Lids & Hatches</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Exterior-Parts-Accessories">Exterior Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Doors, Trunk Lids & Hatches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Cargo-Sliding-Doors">Cargo & Sliding Doors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Doors-Door-Skins">Doors & Door Skins</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Door-Handles">Door Handles</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Door-Seals">Door Seals</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Hatches-Trunk-Lids">Hatches & Trunk Lids</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Lift-Supports-Latches-Hinges-Additional-Parts">Lift Supports, Latches, Hinges & Additional Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Tailgates-Liftgates">Liftgates</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Doors-Door-Skins">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/categories/1.webp">
                        <div>Doors & Door Skins</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Door-Handles">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/categories/2.webp">
                        <div>Door Handles</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Door-Seals">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/categories/3.webp">
                        <div>Door Seals</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Hatches-Trunk-Lids">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/categories/4.webp">
                        <div>Hatches & Trunk Lids</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Tailgates-Liftgates">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/categories/5.webp">
                        <div>Tailgates & Liftgates</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/doors-trunk-lids-hatches/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
