<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Brakes & Brake Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Brakes & Brake Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Brakes & Brake Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-ABS-Stability-Hydraulic-Units">ABS & Stability Hydraulic Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-ABS-Control-Modules">ABS Control Modules</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-ABS-Speed-Sensors">ABS Speed Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Additional-ABS-Parts">Additional ABS Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Boosters">Brake Boosters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Cables">Brake Cables</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Component-Kits">Brake Component Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Disc-Rotors">Brake Disc Rotors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Drums">Brake Drums</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Hoses-Lines-Fittings">Brake Hoses, Lines & Fittings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Pads">Brake Pads</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Shoes">Brake Shoes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Pad-Shoe-Hardware">Brake Pad & Shoe Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Pad-Wear-Sensors">Brake Pad Wear Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Additional-Brake-Sensors-Switches">Additional Brake Sensors & Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Relays">Brake Relays</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Calipers-Brackets">Calipers & Brackets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Master-Cylinders">Master Cylinders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Rebuild-Kits-Parts">Rebuild Kits & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Reservoirs-Caps">Reservoirs & Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Wheel-Cylinders">Wheel Cylinders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Wires-Cables-Connectors">Wires, Cables & Connectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Brake-Parts">Other Brake Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Brake-Disc-Rotors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/1.webp">
                        <div>Brake Disc Rotors</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Additional-ABS-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/2.webp">
                        <div>Additional ABS Parts</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Calipers-Brackets">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/3.webp">
                        <div>Calipers & Brackets</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Master-Cylinders">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/4.webp">
                        <div>Master Cylinders</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Brake-Hoses-Lines-Fittings">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/5.webp">
                        <div>Brake Hoses, Lines & Fittings</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Brake-Component-Kits">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/6.webp">
                        <div>Brake Component Kits</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Brake-Drums">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/7.webp">
                        <div>Brake Drums</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Brake-Pads">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/8.webp">
                        <div>Brake Pads</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Brake-Cables">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/9.webp">
                        <div>Brake Cables</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Wheel-Cylinders">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/categories/10.webp">
                        <div>Wheel Cylinders</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="categories">
                <h2>Tools for the Job</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Automotive-Brake-Service-Tools">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/tools/1.webp">
                        <div>Brake Service Tools</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/tools/2.webp">
                        <div>Brake Adjusters</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/tools/3.webp">
                        <div>Brake Spring Pliers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/tools/4.webp">
                        <div>Caliper Piston Tool Kits</div>
                    </a>
                    <a class="item" routerLink="/c/Automotive-Jacks-Jack-Stands">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/tools/5.webp">
                        <div>Jacks & Jack Stands</div>
                    </a>
                    <a class="item" routerLink="/c/Nitrile-Disposable-Gloves">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/tools/6.webp">
                        <div>Nitrile Gloves</div>
                    </a>
                    <a class="item" routerLink="/c/Needle-Nose-Plier-Automotive-Pliers">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/tools/7.webp">
                        <div>Needle Nose Pliers</div>
                    </a>
                    <a class="item" routerLink="/c/Industrial-Safety-Goggles">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/tools/8.webp">
                        <div>Safety Goggles</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/brakes-brake-parts/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes-link">
                <h2>Shop by Make</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Abarth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Alfa Romeo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Armstrong-Siddeley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Austin</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bering</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Blue Bird</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bugatti</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Buick</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Caterpillar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Crosley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daewoo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DAF</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daihatsu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Datsun</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>De Tomaso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DeSoto</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Evobus</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>FAW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ferrari</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Foton</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Franklin</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Freightliner</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Genesis</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hendrickson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Henry J</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hillman</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hino</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hummer</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hupmobile</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hyundai</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>International Harvester</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Isuzu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Iveco</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Jaguar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kaiser</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kenworth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kia</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lada</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lamborghini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Land Rover</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lexus</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lotus</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mack</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Marathon</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Marmon Herrington</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Maserati</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mazda</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>McLaren</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Metropolitan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>MG</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi Fuso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Morris</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Moskvich</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>New Flyer</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Oldsmobile</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Opel</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Oshkosh Motor Truck Co.</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Packard</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Panhard</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peterbilt</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peugeot</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pierce Mfg. Inc.</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Plymouth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Prevost</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ram</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Renault</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Riley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rolls-Royce</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Saleen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Shelby</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Simca</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Spartan Motors</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SRT</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SsangYong</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling Truck</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Studebaker</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sunbeam</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Tesla</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Toyota</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>UD</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Unimog</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Van Hool</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volvo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Western Star</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>White</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Willys</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Wolseley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Workhorse</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Yugo</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
