<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">Motors</div>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <h3>Shop by Category</h3>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Vehicles
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>Cars & Trucks</a>
                    </div>
                    <div>
                        <a>Classic Cars</a>
                    </div>
                    <div>
                        <a>Collector Cars</a>
                    </div>
                    <div>
                        <a>Commercial Trucks</a>
                    </div>
                    <div>
                        <a>Electric & Hybrid Cars</a>
                    </div>
                    <div>
                        <a>Exotic Cars</a>
                    </div>
                    <div>
                        <a>Boats</a>
                    </div>
                    <div>
                        <a>Motorcycles</a>
                    </div>
                    <div>
                        <a>Powersports</a>
                    </div>
                    <div>
                        <a>RVs & Campers</a>
                    </div>
                    <div>
                        <a>Trailers</a>
                    </div>
                    <div>
                        <a>Other Vehicles</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Car & Truck Parts
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See all in Car & Truck Parts</a>
                    </div>
                    <div>
                        <a>Air & Fuel Delivery</a>
                    </div>
                    <div>
                        <a>Brakes & Brake Parts</a>
                    </div>
                    <div>
                        <a>Engines & Engine Parts</a>
                    </div>
                    <div>
                        <a>Exhaust & Emission Systems</a>
                    </div>
                    <div>
                        <a>Exterior Parts & Accessories</a>
                    </div>
                    <div>
                        <a>Interior Parts & Accessories</a>
                    </div>
                    <div>
                        <a>Lighting & Lamps</a>
                    </div>
                    <div>
                        <a>Starters, Alternators, ECUs & Wiring</a>
                    </div>
                    <div>
                        <a>Steering & Suspension</a>
                    </div>
                    <div>
                        <a>Transmission & Drivetrain</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Wheels & Tires
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See all in Wheels & Tires</a>
                    </div>
                    <div>
                        <a>Tires</a>
                    </div>
                    <div>
                        <a>Tire Pressure Monitoring Sensor</a>
                    </div>
                    <div>
                        <a>Wheels</a>
                    </div>
                    <div>
                        <a>Wheel Hub Caps, Center Caps & Trim Rings</a>
                    </div>
                    <div>
                        <a>Wheel Nuts, Bolts & Studs</a>
                    </div>
                    <div>
                        <a>Wheel Spacers, Adapters & Hub Centric Rings</a>
                    </div>
                    <div>
                        <a>Wheel & Tire Accessories</a>
                    </div>
                    <div>
                        <a>Wheel & Tire Packages</a>
                    </div>
                    <div>
                        <a>Valve Stems & Caps</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Motorcycle & Scooter Parts
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See all in Motorcycle & Scooter Parts</a>
                    </div>
                    <div>
                        <a>Air Intake & Fuel Delivery</a>
                    </div>
                    <div>
                        <a>Body & Frame</a>
                    </div>
                    <div>
                        <a>Brakes & Brake Parts</a>
                    </div>
                    <div>
                        <a>Electrical & Ignition Components</a>
                    </div>
                    <div>
                        <a>Engines & Engine Parts</a>
                    </div>
                    <div>
                        <a>Exhaust & Emission Systems</a>
                    </div>
                    <div>
                        <a>Foot Controls, Pedals & Pegs</a>
                    </div>
                    <div>
                        <a>Handlebars, Grips & Controls</a>
                    </div>
                    <div>
                        <a>Instruments & Gauges</a>
                    </div>
                    <div>
                        <a>Lighting & Lamps</a>
                    </div>
                    <div>
                        <a>Suspension & Handling</a>
                    </div>
                    <div>
                        <a>Transmission & Drivetrain</a>
                    </div>
                    <div>
                        <a>Wheels, Tires & Parts</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ATVs, Side-by-Side & UTV Parts
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See all in ATV, Side-by-Side & UTV Parts</a>
                    </div>
                    <div>
                        <a>Air Intake & Fuel Delivery</a>
                    </div>
                    <div>
                        <a>Body & Frame</a>
                    </div>
                    <div>
                        <a>Brakes & Brake Parts</a>
                    </div>
                    <div>
                        <a>Electrical & Ignition Components</a>
                    </div>
                    <div>
                        <a>Engines & Engine Parts</a>
                    </div>
                    <div>
                        <a>Exhaust & Emission Systems</a>
                    </div>
                    <div>
                        <a>Footrests, Pedals & Pegs</a>
                    </div>
                    <div>
                        <a>Lighting & Lamps</a>
                    </div>
                    <div>
                        <a>Seats, Parts & Accessories</a>
                    </div>
                    <div>
                        <a>Steering & Suspension</a>
                    </div>
                    <div>
                        <a>Towing, Recovery & Accessories</a>
                    </div>
                    <div>
                        <a>Transmission & Drivetrain</a>
                    </div>
                    <div>
                        <a>Wheels, Tires & Parts</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Other Parts & Accessories
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See all in Other Parts & Accessories</a>
                    </div>
                    <div>
                        <a>Apparel, Protective Gear & Merchandise</a>
                    </div>
                    <div>
                        <a>Boat Parts</a>
                    </div>
                    <div>
                        <a>Commercial Truck Parts</a>
                    </div>
                    <div>
                        <a>In-Car Technology, GPS & Security</a>
                    </div>
                    <div>
                        <a>Motorcycle Maintenance, Stands & Towing</a>
                    </div>
                    <div>
                        <a>Performance & Racing Parts</a>
                    </div>
                    <div>
                        <a>RV, Trailer & Camper Parts</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Automotive Tools & Supplies
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See all in Automotive Tools & Supplies</a>
                    </div>
                    <div>
                        <a>Air Compressors</a>
                    </div>
                    <div>
                        <a>Air Tools</a>
                    </div>
                    <div>
                        <a>Auto Safety Kits & Supplies</a>
                    </div>
                    <div>
                        <a>Auto Tools Boxes & Storage</a>
                    </div>
                    <div>
                        <a>Automotive Specialty Tools</a>
                    </div>
                    <div>
                        <a>Battery Testers & Chargers</a>
                    </div>
                    <div>
                        <a>Diagnostic Service Tools</a>
                    </div>
                    <div>
                        <a>Hand Tools</a>
                    </div>
                    <div>
                        <a>Power Tools</a>
                    </div>
                    <div>
                        <a>Shop & Garage Equipment & Supplies</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Automotive Cleaning & Detailing
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See all in Automotive Cleaning & Detailing</a>
                    </div>
                    <div>
                        <a>Bug & Tar Removers</a>
                    </div>
                    <div>
                        <a>Car Wash Soap</a>
                    </div>
                    <div>
                        <a>Glass Care & Water Repellant</a>
                    </div>
                    <div>
                        <a>Ice Scrapers & Snow Brushes</a>
                    </div>
                    <div>
                        <a>Interior Cleaners & Protectant</a>
                    </div>
                    <div>
                        <a>Mitts, Bonnets & Buffing Pads</a>
                    </div>
                    <div>
                        <a>Power Polishers</a>
                    </div>
                    <div>
                        <a>Squeegees</a>
                    </div>
                    <div>
                        <a>Vehicle Vacuums</a>
                    </div>
                    <div>
                        <a>Wash, Wax & Cleaning Kits</a>
                    </div>
                    <div>
                        <a>Washing Brushes & Nozzles</a>
                    </div>
                    <div>
                        <a>Waxes & Polishes</a>
                    </div>
                    <div>
                        <a>Other Automotive Care Supplies</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Automotive Paints & Supplies
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See All in Automotive Paint & Supplies</a>
                    </div>
                    <div>
                        <a>Paint Additives</a>
                    </div>
                    <div>
                        <a>Automotive Clear Coats</a>
                    </div>
                    <div>
                        <a>Automotive Paint Kits</a>
                    </div>
                    <div>
                        <a>Automotive Paint Supplies</a>
                    </div>
                    <div>
                        <a>Automotive Primers</a>
                    </div>
                    <div>
                        <a>Automotive Tape & Adhesives</a>
                    </div>
                    <div>
                        <a>Multi-Stage Auto Paint</a>
                    </div>
                    <div>
                        <a>Specialty Paint & Coatings</a>
                    </div>
                    <div>
                        <a>Touchup & Spray Paint</a>
                    </div>
                    <div>
                        <a>Other Automotive Paint</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Oil, Fluids, Lubricants & Sealers
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See All in Oil, Fluids, Lubricants & Sealers</a>
                    </div>
                    <div>
                        <a>Air Conditioning Chemicals</a>
                    </div>
                    <div>
                        <a>Antifreeze</a>
                    </div>
                    <div>
                        <a>Brake Lubricants & Cleaners</a>
                    </div>
                    <div>
                        <a>Engine Cleaners</a>
                    </div>
                    <div>
                        <a>Fuel Additives & Treatments</a>
                    </div>
                    <div>
                        <a>Gasket Makers/Removers/Sealers</a>
                    </div>
                    <div>
                        <a>Gear/Differential Oil</a>
                    </div>
                    <div>
                        <a>Grease & Lube</a>
                    </div>
                    <div>
                        <a>Motor Oil</a>
                    </div>
                    <div>
                        <a>Power Steering Fluids</a>
                    </div>
                    <div>
                        <a>Radiator Additives & Sealants</a>
                    </div>
                    <div>
                        <a>Starting Fluids</a>
                    </div>
                    <div>
                        <a>Tire Sealant</a>
                    </div>
                    <div>
                        <a>Transmission Fluid</a>
                    </div>
                    <div>
                        <a>Windshield Wiper Fluid</a>
                    </div>
                    <div>
                        <a>Other Fluids & Chemicals</a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Safety & Security Accessories
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a>See all in Safety & Security Accessories</a>
                    </div>
                    <div>
                        <a>Safety</a>
                    </div>
                    <div>
                        <a>Security</a>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="content">
            <div class="parts-search">
                <h1>Find Parts & Accessories</h1>
                <mat-tab-group>
                    <mat-tab label="Cars & Trucks">
                        C1
                    </mat-tab>
                    <mat-tab label="Motorcycles">
                        C2
                    </mat-tab>
                    <mat-tab label="Other Vehicles">
                        C3
                    </mat-tab>
                </mat-tab-group>                  
            </div>
            <mat-divider></mat-divider>
            <div class="categories-1">
                <h1>Shop Car & Truck Parts</h1>
                <div>
                    <div *ngFor="let category of partsCategories;"></div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="categories-2">
                <h1>Shop Car & Truck Parts</h1>
                <div>
                    <div *ngFor="let category of otherPartsCategories;"></div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="vehicle-search">
                <h1>Find a Vehicle</h1>
                <mat-tab-group>
                    <mat-tab label="Cars & Trucks">
                        C1
                    </mat-tab>
                    <mat-tab label="Motorcycles">
                        C2
                    </mat-tab>
                    <mat-tab label="Other Vehicles">
                        C3
                    </mat-tab>
                </mat-tab-group>                  
            </div>
            <mat-divider></mat-divider>
            <div class="vehicles-shop">
                <h1>Shop Vehicles</h1>
                <div>
                    <div>
                        <div *ngFor="let vehicle of vehiclesCategories;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
