<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Entertainment-Equipment">In-Car Entertainment</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Speakers</a>
        </div>
    </div>
    <div class="title">
        <h1>Car Speakers</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/In-Car-Entertainment-Equipment">In-Car Entertainment</a>
                    </li>
                    <li class="actual">
                        <a>Speakers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Audio-Amplifiers-for-In-Car-Entertainment">Amplifiers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-DVD-Players">Car DVD Players</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Stereos-Head-Units">Car Stereos & Head Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-CD-DVD-Changers">CD & DVD Changers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Complete-In-Car-Sound-Systems">Complete Sound Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Audio-Crossovers">Crossovers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Audio-Equalizers">Equalizers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-FM-Transmitters">FM Transmitters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Multimedia-Players">Multimedia Players</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Audio-Signal-Processors-for-In-Car-Entertainment">Signal Processors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Subwoofers-for-In-Car-Entertainment">Subwoofers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-In-Car-Entertainment-Equipment">Other In-Car Entertainment</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
