<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors-Apparel-Protection-Merchandise">Apparel, Protective Gear & Merchandise</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motorcycle-Powersports-Helmets-Accessories">Helmets & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Motorcycle & Powersport Helmets</a>
        </div>
    </div>
    <div class="title">
        <h1>Motorcycle & Powersports Helmets</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Motorcycle-Powersports-Helmets-Accessories">Helmets & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Motorcycle & Powersport Helmets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Helmet-Care-Cleaning">Helmet Care & Cleaning</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Helmet-Visor-Bags">Helmet & Visor Bags</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Helmet-Parts">Helmet Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Helmet-Accessories">Helmet Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Helmet-Visors">Visors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Helmet-Visor-Inserts">Visor Inserts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Balaclavas-Masks-Neck-Warmers">Balaclavas, Masks & Tubes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Eyewear">Eyewear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Ear-Plugs">Ear Plugs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Motorcycle-Powersports-Headwear">Other Headwear</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="type">
                <h2>Shop by Size</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>XL</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>3XL</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>XXL</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>4XL</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>XXS</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="type">
                <h2>Shop by Type</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Full Face</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Modular</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Open Face</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Half Helmet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Off-Road</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Dual Sport</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Vintage</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Convertible</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Popular Brands</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/1.webp">
                        <div>Bell</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/2.webp">
                        <div>Shoei</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/3.webp">
                        <div>AGV</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/4.webp">
                        <div>Arai</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/5.webp">
                        <div>Icon</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/6.webp">
                        <div>HJC Helmets</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/7.webp">
                        <div>Scorpion</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/8.webp">
                        <div>Schuberth</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/9.webp">
                        <div>TCMT</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/10.webp">
                        <div>TORC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/11.webp">
                        <div>Fly Racing</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/12.webp">
                        <div>Fox Racing</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/helmets-accessories/motorcycle-powersport-helmets/brands/13.webp">
                        <div>SENA</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
