<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Exterior-Parts-Accessories">Exterior Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Doors-Trunk-Lids-Hatches">Doors, Trunk Lids & Hatches</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Liftgates</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Tailgates & Liftgates</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Doors-Trunk-Lids-Hatches">Doors, Trunk Lids & Hatches</a>
                    </li>
                    <li class="actual">
                        <a>Liftgates</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Cargo-Sliding-Doors">Cargo & Sliding Doors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Doors-Door-Skins">Doors & Door Skins</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Door-Handles">Door Handles</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Door-Seals">Door Seals</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Hatches-Trunk-Lids">Hatches & Trunk Lids</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Lift-Supports-Latches-Hinges-Additional-Parts">Lift Supports, Latches, Hinges & Additional Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
