<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Air Conditioning & Heating</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Air Conditioning & Heating</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Air Conditioning & Heating</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Compressors-Clutches">A/C Compressors & Clutches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Condensers">A/C Condensers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Evaporators">A/C Evaporators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Expansion-Valves">A/C Expansion Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Hoses-Fittings">A/C Hoses & Fittings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Pressure-Switches">A/C Pressure Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Receiver-Dryers-Accumulators">A/C Receiver Dryers & Accumulators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Blowers-Fans">Blowers & Fans</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Cabin-Air-Filters">Cabin Air Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Heater-Control-Valves">Heater Control Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Heater-Cores">Heater Cores</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Control-Unit-Parts">HVAC Control Unit Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Controls-Control-Units">HVAC Controls & Control Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Temperature-Sensors">HVAC Temperature Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Vent-Actuators">HVAC Vent Actuators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Air-Conditioning-Heating">Other Air Conditioning & Heating</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-A-C-Compressors-Clutches">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/1.webp">
                        <div>A/C Compressors & Clutches</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-HVAC-Controls-Control-Units">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/2.webp">
                        <div>HVAC Controls & Control Units</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-A-C-Evaporators">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/3.webp">
                        <div>A/C Evaporators</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Blowers-Fans">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/4.webp">
                        <div>Blowers & Fans</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-A-C-Hoses-Fittings">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/5.webp">
                        <div>A/C Hoses & Fittings</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-A-C-Condensers">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/6.webp">
                        <div>A/C Condensers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Heater-Cores">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/7.webp">
                        <div>Heater Cores</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-HVAC-Control-Unit-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/8.webp">
                        <div>HVAC Control Unit Parts</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Cabin-Air-Filters">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/9.webp">
                        <div>Cabin Air Filters</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Heater-Control-Valves">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/categories/10.webp">
                        <div>Heater Control Valves</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes-link">
                <h2>Shop by Make</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>AC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Alfa Romeo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Allstate</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AM General</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Austin Healey</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Autocar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bentley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Blue Bird</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Buick</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Cadillac</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Caterpillar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Citroën</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Crane Carrier</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Crosley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daewoo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DAF</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daihatsu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Datsun</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DeLorean</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DeSoto</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Eagle</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Edsel</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Fargo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>FAW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ferrari</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Fisker</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Foton</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Freightliner</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hillman</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hino</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hudson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hummer</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hyundai</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>International Harvester</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Iso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Isuzu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Iveco</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kenworth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kia</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lada</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lamborghini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Land Rover</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lexus</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lotus</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mack</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Maserati</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>McLaren</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>MG</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi Fuso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Morgan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Morris</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Moskvich</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nash</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Neoplan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Opel</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Osca</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ottawa</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Packard</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peterbilt</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pierce Mfg. Inc.</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Porsche</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Prevost</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rambler</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Renault</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rolls-Royce</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rover</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Scion</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Seat</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Skoda</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Smart</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Spartan Motors</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SRT</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SsangYong</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling Truck</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Stewart & Stevenson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Studebaker</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Tesla</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Toyota</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Triumph</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>UD</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Unimog</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Van Hool</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Vespa</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volvo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Western Star</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Willys</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Workhorse</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Yugo</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
