<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Electric-Hybrid-PHEV-Car-Truck-Specific-Parts">Electric, Hybrid & PHEV Specific Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Charging Units</a>
        </div>
    </div>
    <div class="title">
        <h1>Electric Car & Truck Charging Units</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Electric-Hybrid-PHEV-Car-Truck-Specific-Parts">Electric, Hybrid & PHEV Specific Parts</a>
                    </li>
                    <li class="actual">
                        <a>Charging Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Charging-Stations">Charging Stations</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Electric-Car-Truck-Mobile-Charging">Mobile Charging</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Connector Type</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-units/connectors/1.webp">
                        <div>CCS (Combined Charging System)</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-units/connectors/2.webp">
                        <div>CHAdeMO</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-units/connectors/3.webp">
                        <div>Type 1</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-units/connectors/4.webp">
                        <div>Type 2</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-units/brands/1.webp">
                        <div>Tesla</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-units/brands/2.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-units/brands/3.webp">
                        <div>Delphi</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-units/brands/4.webp">
                        <div>ClipperCreek</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/electric-hybrid-phev-specific-parts/charging-units/brands/5.webp">
                        <div>TOPDON</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
