<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Dash-Cams-Alarms-Security-Devices">Dash Cams, Alarms & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Anti-Sleep Systems</a>
        </div>
    </div>
    <div class="title">
        <h1>Car Anti-Sleep Systems</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Dash-Cams-Alarms-Security-Devices">Dash Cams, Alarms & Security</a>
                    </li>
                    <li class="actual">
                        <a>Anti-Sleep Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Anti-Theft-Car-Alarm-Systems">Anti-Theft Car Alarms</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Immobilisers">Car Immobilizers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Keys-Fobs-Remotes">Car Keys, Fobs & Remotes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Tracking-Systems">Car Tracking Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Dash-Cams">Dash Cams</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Key-Blanks">Key Blanks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Remote-Entry-System-Kits">Remote Entry System Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Remote-Start-System-Kits">Remote Start System Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Dash-Cams-Alarms-Security-Devices">Other Car Dash Cams, Alarms & Security Devices</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
