<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Dash Cams, Alarms & Security</a>
        </div>
    </div>
    <div class="title">
        <h1>Car Dash Cams, Alarms & Security Devices</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
                    </li>
                    <li class="actual">
                        <a>Dash Cams, Alarms & Security</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Anti-Sleep-Systems">Anti-Sleep Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Anti-Theft-Car-Alarm-Systems">Anti-Theft Car Alarms</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Immobilisers">Car Immobilizers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Keys-Fobs-Remotes">Car Keys, Fobs & Remotes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Tracking-Systems">Car Tracking Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Dash-Cams">Dash Cams</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Key-Blanks">Key Blanks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Remote-Entry-System-Kits">Remote Entry System Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Remote-Start-System-Kits">Remote Start System Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Dash-Cams-Alarms-Security-Devices">Other Car Dash Cams, Alarms & Security Devices</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Remote-Entry-System-Kits">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/1.webp">
                        <div>Remote Entry System Kits</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Remote-Start-System-Kits">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/2.webp">
                        <div>Remote Start System Kits</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Keys-Fobs-Remotes">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/3.webp">
                        <div>Keys, Fobs & Remotes</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Key-Blanks">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/4.webp">
                        <div>Key Blanks</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Dash-Cams">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/5.webp">
                        <div>Dash Cams</div>
                    </a>
                    <a class="item" routerLink="/c/Anti-Theft-Car-Alarm-Systems">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/6.webp">
                        <div>Anti-Theft Car Alarm Systems</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Tracking-Systems">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/7.webp">
                        <div>Tracking Systems</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Immobilisers">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/8.webp">
                        <div>Immobilisers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Anti-Sleep-Systems">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/9.webp">
                        <div>Anti-Sleep Systems</div>
                    </a>
                    <a class="item" routerLink="/c/Other-Car-Dash-Cams-Alarms-Security-Devices">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/categories/10.webp">
                        <div>Other Car Dash Cams, Alarms & Security Devices</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/dash-cams-alarms-security/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
