<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Air Intake & Fuel Delivery</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Air Intake & Fuel Delivery</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Air Intake & Fuel Delivery</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Air-Filters">Air Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Air-Filter-Housings">Air Filter Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Air-Hoses-Lines-Pipes">Air Hoses, Lines & Pipes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Air-Intake-Fuel-Sensors">Air Intake & Fuel Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Carburetors">Carburetors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Carburetor-Parts">Carburetor Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Filters">Fuel Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Hoses-Lines-Pipes">Fuel Hoses, Lines & Pipes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Injectors">Fuel Injectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Pumps-Sending-Units">Fuel Pumps & Sending Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Tank-Caps">Fuel Tank Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Tanks">Fuel Tanks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Valves-Petcocks">Fuel Valves & Petcocks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Air-Intake-Fuel-Delivery-Gaskets-Seals-O-Rings">Gaskets, Seals & O-Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Intake-Covers-Ducts-Scoops">Intake Covers, Ducts & Scoops</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Manifold-Intake-Adapter-Inlet-Joint">Manifold Intake Adapter, Inlet & Joint</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Throttle-Bodies">Throttle Bodies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Throttle-Idle-Cruise-Control-Cables-Linkages">Throttle, Idle, Cruise Control Cables & Linkages</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Turbochargers-Superchargers-Parts">Turbochargers, Superchargers & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Air-Intake-Fuel-Delivery-Parts">Other Air Intake & Fuel Delivery</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Carburetors">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/1.webp">
                        <div>Carburetors</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Air-Filters">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/2.webp">
                        <div>Air Filters</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Pumps-Sending-Units">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/3.webp">
                        <div>Fuel Pumps & Sending Units</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Tanks">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/4.webp">
                        <div>Fuel Tanks</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Air-Intake-Fuel-Delivery-Gaskets-Seals-O-Rings">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/5.webp">
                        <div>Gaskets, Seals & O-Rings</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Valves-Petcocks">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/6.webp">
                        <div>Fuel Valves & Petcocks</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Injectors">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/7.webp">
                        <div>Fuel Injectors</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Air-Hoses-Lines-Pipes">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/8.webp">
                        <div>Air Hoses, Lines & Pipes</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Tank-Caps">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/9.webp">
                        <div>Fuel Tank Caps</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Fuel-Hoses-Lines-Pipes">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/categories/10.webp">
                        <div>Fuel Hoses, Lines & Pipes</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Polaris-ATV-Side-by-Side-UTV-Intake-Fuel-Systems">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="/c/Can-Am-ATV-Side-by-Side-UTV-Intake-Fuel-Systems">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="/c/Honda-ATV-Side-by-Side-UTV-Intake-Fuel-Systems">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="/c/Yamaha-ATV-Side-by-Side-UTV-Intake-Fuel-Systems">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="/c/Kawasaki-ATV-Side-by-Side-UTV-Intake-Fuel-Systems">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="/c/Arctic-Cat-ATV-Side-by-Side-UTV-Intake-Fuel-Systems">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="/c/Suzuki-ATV-Side-by-Side-UTV-Intake-Fuel-Systems">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/8.webp">
                        <div>CF-Moto</div>
                    </a>
                    <a class="item" routerLink="/c/Kubota-ATV-Side-by-Side-UTV-Intake-Fuel-Systems">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/9.webp">
                        <div>Kubota</div>
                    </a>
                    <a class="item" routerLink="/c/John-Deere-ATV-Side-by-Side-UTV-Intake-Fuel-Systems">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/air-intake-fuel-delivery/makes/10.webp">
                        <div>John Deere</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
