<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Exterior Parts & Accessories</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Exterior Parts & Accessories</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Exterior Parts & Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Antennas">Antennas</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Body-Moldings-Trims">Body Moldings & Trims</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Bumpers-Components">Bumpers & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Covers">Car & Truck Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Decals-Vinyl">Decals & Vinyls</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Doors-Trunk-Lids-Hatches">Doors, Trunk Lids & Hatches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Emblems-Ornaments">Emblems & Ornaments</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exterior-Locks-Lock-Hardware">Exterior Locks & Lock Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Frame-Rails-Subframes">Frame Rails & Subframes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Glass-Window-Parts">Glass & Window Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Grilles">Grilles</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Guards-Protection">Guards & Protection</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Hoods">Hoods</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Horns">Horns</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-License-Plates-Frames">License Plates & Frames</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exterior-Mounts-Brackets-Hardware">Mounts, Brackets & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Panels">Panels</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Roofs-Tops-Sunroofs">Roofs, Tops & Sunroofs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Running-Boards-Step-Bars">Running Boards & Step Bars</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Side-View-Mirrors">Side View Mirrors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Snow-Plows-Parts">Snow Plows & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Spare-Tire-Carriers-Covers">Spare Tire Carriers & Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Spoilers-Wings">Spoilers & Wings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Truck-Beds-Parts">Truck Beds & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Wipers-Washers">Wipers & Washers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Exterior-Parts-Accessories">Other Exterior Parts & Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Bumpers-Components">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/1.webp">
                        <div>Bumpers & Components</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Grilles">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/2.webp">
                        <div>Grilles</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Body-Moldings-Trims">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/3.webp">
                        <div>Body Moldings & Trims</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Side-View-Mirrors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/4.webp">
                        <div>Side View Mirrors</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Doors-Trunk-Lids-Hatches">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/5.webp">
                        <div>Doors, Trunk Lids & Hatches</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Panels">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/6.webp">
                        <div>Panels</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Hoods">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/7.webp">
                        <div>Hoods</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Running-Boards-Step-Bars">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/8.webp">
                        <div>Running Boards & Step Bars</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Wipers-Washers">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/9.webp">
                        <div>Wipers & Washers</div>
                    </a>
                    <a class="item" routerLink="/c/Truck-Beds-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/10.webp">
                        <div>Truck Beds & Parts</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="categories">
                <h2>Shop More Categories</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Glass-Window-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/11.webp">
                        <div>Glass & Window Parts</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Roofs-Tops-Sunroofs">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/12.webp">
                        <div>Roofs, Tops & Sunroofs</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Guards-Protection">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/13.webp">
                        <div>Guards & Protection</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Decals-Vinyl">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/14.webp">
                        <div>Decals & Vinyl</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Spoilers-Wings">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/15.webp">
                        <div>Spoilers & Wings</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Emblems-Ornaments">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/16.webp">
                        <div>Emblems & Ornaments</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Covers">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/17.webp">
                        <div>Car & Truck Covers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Exterior-Locks-Lock-Hardware">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/18.webp">
                        <div>Locks & Lock Hardware</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-License-Plates-Frames">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/19.webp">
                        <div>License Plates & Frames</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Antennas">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/categories/20.webp">
                        <div>Antennas</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes-link">
                <h2>Shop by Make</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Abarth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Acura</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Alfa Romeo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Aston Martin</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Asuna</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Auburn</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Audi</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Austin Healey</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bentley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bering</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Blue Bird</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bus & Coach Intl (BCI)</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Cadillac</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Caterpillar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Chrysler</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Country Coach Motorhome</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daewoo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DAF</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daihatsu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Datsun</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DeSoto</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Diamond Reo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Duesenberg</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Durant</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Eagle</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Edsel</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Excalibur</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Fargo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>FAW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ferrari</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Freightliner</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Genesis</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Geo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Graham-Paige</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Henry J</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hino</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hummer</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hupmobile</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hyundai</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Indiana Phoenix</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Infiniti</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>International Harvester</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Isuzu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Iveco</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>JAC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kenworth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kia</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Koenigsegg</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lada</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lamborghini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>LaSalle</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lincoln</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mack</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Marmon Herrington</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mazda</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>McLaren</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Metropolitan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi Fuso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Moskvich</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Opel</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Packard</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pegaso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peterbilt</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peugeot</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Prevost</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ram</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rolls-Royce</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Saleen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Seat</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Shelby</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Skoda</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SsangYong</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling Truck</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Stewart & Stevenson</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Studebaker</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Stutz</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Subaru</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Tesla</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Toyota</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Unimog</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Utilimaster</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Van Hool</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Viking</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volkswagen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volvo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Western Star</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Willys</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Yellow Cab</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
