<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Air-Fuel-Delivery">Air & Fuel Delivery</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Turbos-Superchargers-Intercoolers">Turbos, Superchargers & Intercoolers</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Turbos & Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Turbos & Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Turbos-Superchargers-Intercoolers">Turbos, Superchargers & Intercoolers</a>
                    </li>
                    <li class="actual">
                        <a>Turbos & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Intercoolers">Intercoolers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Superchargers-Parts">Superchargers & Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="makes">
                <h2>Popular Brands</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/turbos-parts/brands/1.webp">
                        <div>BorgWarner</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/turbos-parts/brands/2.webp">
                        <div>Cummins</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/turbos-parts/brands/3.webp">
                        <div>CXRacing</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/turbos-parts/brands/4.webp">
                        <div>EMUSA</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/turbos-parts/brands/5.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/turbos-parts/brands/6.webp">
                        <div>Garret</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/turbos-parts/brands/7.webp">
                        <div>Holset</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/turbos-parts/brands/8.webp">
                        <div>maXpeedingrods</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
