<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Air-Fuel-Delivery">Air & Fuel Delivery</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Turbos, Superchargers & Intercoolers</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Turbos, Superchargers & Intercoolers</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Air-Fuel-Delivery">Air & Fuel Delivery</a>
                    </li>
                    <li class="actual">
                        <a>Turbos, Superchargers & Intercoolers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Intercoolers">Intercoolers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Turbos-Parts">Turbos & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Superchargers-Parts">Superchargers & Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Superchargers-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/categories/1.webp">
                        <div>Superchargers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/categories/2.webp">
                        <div>Supercharger Kits</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Turbos-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/categories/3.webp">
                        <div>Turbochargers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Intercoolers">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/categories/4.webp">
                        <div>Turbo Intercoolers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/categories/5.webp">
                        <div>Turbo Kits</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/turbos-superchargers-intercoolers/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
