<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Air & Fuel Delivery</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Air & Fuel Delivery</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Air & Fuel Delivery</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Filters">Air Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Filter-Housings">Air Filter Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Intake-Fuel-Sensors">Air Intake & Fuel Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Carburetors">Carburetors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Carburetor-Parts">Carburetor Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Filters">Fuel Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Injection-Parts">Fuel Injection Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Pumps-Sending-Units">Fuel Pumps & Sending Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Tank-Caps">Fuel Tank Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Tanks-Filler-Necks">Fuel Tanks & Filler Necks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Fuel-Delivery-Gaskets-Seals-O-Rings">Gaskets, Seals & O-Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Hoses-Lines-Pipes">Hoses, Lines & Pipes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Intake-Manifolds">Intake Manifolds</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Throttle-Bodies">Throttle Bodies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Throttle-Cables-Linkages">Throttle Cables & Linkages</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Turbos-Superchargers-Intercoolers">Turbos, Superchargers & Intercoolers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Engine-Vacuum-Pumps">Vacuum Pumps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Air-Fuel-Delivery">Other Air & Fuel Delivery</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Truck-Turbos-Superchargers-Intercoolers">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/1.webp">
                        <div>Turbos, Superchargers & Intercoolers</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Fuel-Injection-Parts">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/2.webp">
                        <div>Fuel Injection Parts</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Fuel-Pumps-Sending-Units">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/3.webp">
                        <div>Fuel Pumps & Sending Units</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Intake-Manifolds">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/4.webp">
                        <div>Intake Manifolds</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Fuel-Tanks-Filler-Necks">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/5.webp">
                        <div>Fuel Tanks & Filler Necks</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Carburetors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/6.webp">
                        <div>Carburetors</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Air-Intake-Fuel-Sensors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/7.webp">
                        <div>Air Intake & Fuel Sensors</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Air-Filters">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/8.webp">
                        <div>Air Filters</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Throttle-Bodies">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/9.webp">
                        <div>Throttle Bodies</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Fuel-Filters">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/categories/10.webp">
                        <div>Fuel Filters</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-fuel-delivery/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>            
            <div class="makes-link">
                <h2>Shop by Make</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <div>Abarth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Alfa Romeo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>AMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Apollo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Aston Martin</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Auburn</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Audi</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Austin Healey</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Avanti</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Bentley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Blue Bird</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Caterpillar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Cleveland</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Crosley</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daewoo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DAF</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Daihatsu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Datsun</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DeLorean</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Diana</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>DKW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Duryea</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Eagle</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>El Dorado</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Excalibur</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>FAW</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ferrari</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Fiat</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Foton</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Freightliner</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Gillig</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Graham</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Griffith</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hansa</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Healey</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hino</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hupmobile</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Hyundai</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>International Harvester</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Isuzu</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Iveco</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Jaguar</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kenworth</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Kia</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lada</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lamborghini</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lancia</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Land Rover</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>LaSalle</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Lotus</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mack</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Maserati</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>McLaren</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Mitsubishi Fuso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nash</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Oldsmobile</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Ottawa</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Packard</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Panther</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pegaso</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Peterbilt</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Pierce-Arrow</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Porsche</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Prevost</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Renault</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rolls-Royce</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Rover</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Saleen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Shelby</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Spartan Motors</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>SRT</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Sterling Truck</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Studebaker</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Stutz</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Subaru</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Tesla</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Thomas</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Toyota</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Triumph</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>TVR</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>UD</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Unimog</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Vespa</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volkswagen</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Volvo</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Western Star</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Whippet</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Willys</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Windsor</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Workhorse Custom Chassis</div>
                    </a>
                    <a class="item" routerLink="">
                        <div>Zundapp</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
