<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Exterior-Parts-Accessories">Exterior Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Antennas</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Antennas</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Exterior-Parts-Accessories">Exterior Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Antennas</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Body-Moldings-Trims">Body Moldings & Trims</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Bumpers-Components">Bumpers & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Covers">Car & Truck Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Decals-Vinyl">Decals & Vinyls</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Doors-Trunk-Lids-Hatches">Doors, Trunk Lids & Hatches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Emblems-Ornaments">Emblems & Ornaments</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exterior-Locks-Lock-Hardware">Exterior Locks & Lock Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Frame-Rails-Subframes">Frame Rails & Subframes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Glass-Window-Parts">Glass & Window Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Grilles">Grilles</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Guards-Protection">Guards & Protection</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Hoods">Hoods</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Horns">Horns</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-License-Plates-Frames">License Plates & Frames</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exterior-Mounts-Brackets-Hardware">Mounts, Brackets & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Panels">Panels</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Roofs-Tops-Sunroofs">Roofs, Tops & Sunroofs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Running-Boards-Step-Bars">Running Boards & Step Bars</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Side-View-Mirrors">Side View Mirrors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Snow-Plows-Parts">Snow Plows & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Spare-Tire-Carriers-Covers">Spare Tire Carriers & Covers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Spoilers-Wings">Spoilers & Wings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Truck-Beds-Parts">Truck Beds & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Wipers-Washers">Wipers & Washers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Exterior-Parts-Accessories">Other Exterior Parts & Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Antenna Type</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/types/1.webp">
                        <div>Bee Sting</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Grilles">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/types/2.webp">
                        <div>Pillar Mount</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Body-Moldings-Trims">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/types/3.webp">
                        <div>Shark Fin</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Side-View-Mirrors">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/types/4.webp">
                        <div>Stubby</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Truck-Doors-Trunk-Lids-Hatches">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/types/5.webp">
                        <div>Whip</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/antennas/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
