<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Wheels-Tires-Parts">Wheels, Tires & Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Tires</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Tires</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Wheels-Tires-Parts">Wheels, Tires & Parts</a>
                    </li>
                    <li class="actual">
                        <a>Tires</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Wheels">Wheels</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Wheel-Tire-Packages">Wheel & Tire Packages</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Tubes-Protection">Tubes & Protection</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Valve-Caps-Stems">Valve Stems & Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Wheel-Nuts-Bolts-Studs">Wheel Nuts, Bolts & Studs</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Wheel-Spacers-Adapters">Wheel Spacers & Adapters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Center-Caps-Trim-Rings">Center Caps & Trim Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Tire-Chains-Anti-Skid-Socks">Tire Chains, Anti-Skid & Socks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Wheel-Tire-Parts">Other Wheel & Tire Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="makes">
                <h2>Shop by Tire Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/brands/1.webp">
                        <div>Maxxis</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/brands/2.webp">
                        <div>Kenda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/brands/3.webp">
                        <div>BF Goodrich</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/brands/4.webp">
                        <div>Interco</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/brands/5.webp">
                        <div>CST</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop Popular Tire Sizes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/1.webp">
                        <div>25x8x12</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/2.webp">
                        <div>25x10x12</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/3.webp">
                        <div>22x10x10</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/4.webp">
                        <div>19x7x8</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/5.webp">
                        <div>21x7x10</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/6.webp">
                        <div>22x7x10</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/7.webp">
                        <div>18x9.5x8</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/8.webp">
                        <div>23x7x10</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/9.webp">
                        <div>24x8x12</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/wheels-tires-parts/tires/tire-sizes/10.webp">
                        <div>26x9x12</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
