<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Exhaust-Emission-Systems">Exhaust & Emission Systems</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Exhaust Gaskets</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Exhaust Gaskets</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Exhaust-Emission-Systems">Exhaust & Emission Systems</a>
                    </li>
                    <li class="actual">
                        <a>Exhaust Gaskets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Air-Bypass-Valves">Air Bypass Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Catalytic-Converters">Catalytic Converters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-Emission-Clamps-Flanges-Hangers-Hardware">Clamps, Flanges, Hangers & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Diesel-Exhaust-Fluid-System-Parts">Diesel Exhaust Fluid System Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-EGR-Parts-Valves">EGR Parts & Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Emission-Gaskets">Emission Gaskets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Emissions-Hardware-Components">Emissions Hardware & Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-Pipes-Tips">Exhaust Pipes & Tips</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-System-Kits">Exhaust System Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Fuel-Vapor-Canisters">Fuel Vapor Canisters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Heat-Shields-Wraps-Sleeves">Heat Shields, Wraps & Sleeves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-Manifolds-Headers">Manifolds & Headers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Mufflers-Resonators">Mufflers & Resonators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Oxygen-Sensors">Oxygen Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Particulate-Filters">Particulate Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Secondary-Air-Smog-Pumps">Secondary Air & Smog Pumps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Solenoids">Solenoids</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Exhaust-Emission-Switches">Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Exhaust-Emission-Parts">Other Exhaust & Emission Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
