<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Body-Frame">Body & Frame</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Bumpers & Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Bumpers & Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Body-Frame">Body & Frame</a>
                    </li>
                    <li class="actual">
                        <a>Bumpers & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Body-Parts-Doors-Fenders">Body Parts, Doors & Fenders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Dashboards-Consoles-Parts">Dashboards, Consoles & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Decals-Vinyls">Decals & Vinyls</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Emblems-Ornaments">Emblems & Ornaments</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Frames-Subframes-Roll-Cages">Frames, Subframes & Roll Cages</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Grab-Bars-Handles">Grab Bars & Handles</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-License-Plates-Frames-Holders">License Plates, Frames & Holders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Mounts-Brackets-Hardware">Mounts, Brackets & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Running-Boards-Step-Bars">Running Boards & Step Bars</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Body-Frame">Other Body & Frame</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/bumpers-parts/categories/1.webp">
                        <div>Bumper Covers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/bumpers-parts/categories/2.webp">
                        <div>Bumper Mounts</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/bumpers-parts/categories/3.webp">
                        <div>Bumpers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/bumpers-parts/categories/4.webp">
                        <div>Winch Bumpers</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/body-frame/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
