<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Brakes-Brake-Parts">Brakes & Brake Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Wheel Cylinders</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Wheel Cylinders</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Brakes-Brake-Parts">Brakes & Brake Parts</a>
                    </li>
                    <li class="actual">
                        <a>Wheel Cylinders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-ABS-Stability-Hydraulic-Units">ABS & Stability Hydraulic Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-ABS-Control-Modules">ABS Control Modules</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-ABS-Speed-Sensors">ABS Speed Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Additional-ABS-Parts">Additional ABS Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Boosters">Brake Boosters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Cables">Brake Cables</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Component-Kits">Brake Component Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Disc-Rotors">Brake Disc Rotors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Drums">Brake Drums</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Hoses-Lines-Fittings">Brake Hoses, Lines & Fittings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Pads">Brake Pads</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Shoes">Brake Shoes</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Pad-Shoe-Hardware">Brake Pad & Shoe Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Pad-Wear-Sensors">Brake Pad Wear Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Additional-Brake-Sensors-Switches">Additional Brake Sensors & Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Brake-Relays">Brake Relays</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Calipers-Brackets">Calipers & Brackets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Master-Cylinders">Master Cylinders</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Rebuild-Kits-Parts">Rebuild Kits & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Reservoirs-Caps">Reservoirs & Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Wires-Cables-Connectors">Wires, Cables & Connectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Brake-Parts">Other Brake Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
