<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>In-Car Technology, GPS & Security</a>
        </div>
    </div>
    <div class="title">
        <h1>In-Car Technology, GPS & Security Devices</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>In-Car Technology, GPS & Security</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Entertainment-Equipment">In-Car Entertainment</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/In-Car-Electronics-Accessories">Electronic Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Dash-Cams-Alarms-Security-Devices">Dash Cams, Alarms & Security</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-GPS-Satellite-Navigation-Systems">GPS & Sat Nav Devices</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Terminals-Wiring">Terminals & Wiring</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Installation-Equipment">DIY for Speakers & Subwoofers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Radios-for-Parts">Radios for Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Vintage-Car-Radios">Vintage Radios</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-In-Car-Technology-GPS-Security-Devices">Other In-Car Technology</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Dash-Cams-Alarms-Security-Devices">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/categories/1.webp">
                        <div>Car Dash Cams, Alarms & Security Devices</div>
                    </a>
                    <a class="item" routerLink="/c/In-Car-Entertainment-Equipment">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/categories/2.webp">
                        <div>In-Car Entertainment</div>
                    </a>
                    <a class="item" routerLink="/c/In-Car-Electronics-Accessories">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/categories/3.webp">
                        <div>In-Car Electronics Accessories</div>
                    </a>
                    <a class="item" routerLink="/c/Car-GPS-Satellite-Navigation-Systems">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/categories/4.webp">
                        <div>Car GPS & Satellite Navigation</div>
                    </a>
                    <a class="item" routerLink="/c/Vintage-Car-Radios">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/categories/5.webp">
                        <div>Vintage Car Radios</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
