<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Exterior-Parts-Accessories">Exterior Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Guards & Protection</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Guards & Protection</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Exterior-Parts-Accessories">Exterior Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Guards & Protection</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Grille-Guards-Light-Protectors">Grille Guards & Light Protectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Splash-Guards-Mud-Flaps">Splash Guards & Mud Flaps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Sun-Visors-Wind-Bug-Deflectors">Sun Visors, Wind & Bug Deflectors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Additional-Guards-Protection">Additional Guards & Protection</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/categories/1.webp">
                        <div>Bug Deflectors</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/categories/2.webp">
                        <div>Grille Guards</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/categories/3.webp">
                        <div>Mud Flaps</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/categories/4.webp">
                        <div>Splash Guards</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/categories/5.webp">
                        <div>Wind Deflectors</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/exterior-parts-accessories/guards-protection/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
