<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Apparel, Protective Gear & Merchandise</a>
        </div>
    </div>
    <div class="title">
        <h1>Motors Apparel, Protection & Merchandise</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Apparel, Protective Gear & Merchandise</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Helmets-Accessories">Helmets & Accessories</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Protective-Gear">Protective Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Motorcycle-Powersports-Gear">Motorcycle & Powersports Gear</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Automotive-Accessories-Merchandise">Automotive Accessories & Merchandise</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Motorcycle-Powersports-Apparel-Protective-Gear-Merchandise">Other Apparel, Protective Gear & Merchandise</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Motorcycle-Powersports-Helmets-Accessories">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/categories/1.webp">
                        <div>Helmets & Accessories</div>
                    </a>
                    <a class="item" routerLink="/c/Motorcycle-Powersports-Protective-Gear">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/categories/2.webp">
                        <div>Protective Gear</div>
                    </a>
                    <a class="item" routerLink="/c/Motorcycle-Powersports-Gear">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/categories/3.webp">
                        <div>Motorcycle & Powersports Gear</div>
                    </a>
                    <a class="item" routerLink="/c/Automotive-Accessories-Merchandise">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/categories/4.webp">
                        <div>Automotive Merchandise</div>
                    </a>
                    <a class="item" routerLink="/c/Motorcycle-Maintenance-Stands-Towing">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/categories/5.webp">
                        <div>Motorcycle Accessories</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop Helmets by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/brands/1.webp">
                        <div>Bell</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/brands/2.webp">
                        <div>Arai</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/brands/3.webp">
                        <div>HJC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/brands/4.webp">
                        <div>Icon</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/brands/5.webp">
                        <div>AGV</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/brands/6.webp">
                        <div>Scorpion</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/apparel-protective-gear-mecha/brands/7.webp">
                        <div>LS2</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
