<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Exhaust & Emission Systems</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Exhaust & Emission Systems</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Exhaust & Emission Systems</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Catalytic-Converters-Diesel-Particulate-Filters">Catalytic Converters & Diesel Particulate Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Clamps-Flanges-Hangers-Hardware">Clamps, Flanges, Hangers & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-EVAP-Components">EVAP Components</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Exhaust-Gaskets-Seals">Exhaust Gaskets & Seals</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Exhaust-Pipes-Tips">Exhaut Pipes & Tips</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Exhaust-System-Kits">Exhaust System Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Heat-Shields-Wraps">Heat Shields & Wraps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Manifolds-Headers">Manifolds & Headers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Oxygen-Sensors">Oxygen Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Silencers-Mufflers-Baffles">Silencers, Mufflers & Baffles</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Exhaust-Emission-System-Parts">Other Exhaust & Emission System Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Brake-Pads">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/1.webp">
                        <div>Silencers, Mufflers & Baffles</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Brake-Disc-Rotors">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/2.webp">
                        <div>Exhaust Pipes & Tips</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Brake-Master-Cylinders">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/3.webp">
                        <div>Exhaust System Kits</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Brake-Lines-Hoses-Fittings">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/4.webp">
                        <div>Manifolds & Headers</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Brake-Drums">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/5.webp">
                        <div>Exhaust Gaskets & Seals</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Brake-Sensors-Switches">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/6.webp">
                        <div>Clamps, Flanges, Hangers & Hardware</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Calipers-Brackets">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/7.webp">
                        <div>Oxygen Sensors</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Brake-Shoes">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/8.webp">
                        <div>Heat Shields & Wraps</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Brake-Cables-Rods">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/9.webp">
                        <div>Catalytic Converters & Diesel Particulate Filter</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Rebuild-Kits-Parts">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/categories/10.webp">
                        <div>EVAP Components</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/8.webp">
                        <div>CF-Moto</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/9.webp">
                        <div>Kubota</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/exhaust-emission-systems/makes/10.webp">
                        <div>John Deere</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
