<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Air-Conditioning-Heating">Air Conditioning & Heating</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Blowers & Fans</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Blowers & Fans</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Air-Conditioning-Heating">Air Conditioning & Heating</a>
                    </li>
                    <li class="actual">
                        <a>Blowers & Fans</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Blower-Module-Resistor">HVAC Blower Modules & Resistors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Blower-Motor-Wheel">HVAC Blower Motors & Wheels</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Additional-Blower-Fan-Parts">Additional Blower & Fan Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/categories/1.webp">
                        <div>Blower Motors</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/categories/2.webp">
                        <div>Blower Motor Resistors</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/categories/3.webp">
                        <div>Blower Motors With Fan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/categories/4.webp">
                        <div>Blower Wheels</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/categories/5.webp">
                        <div>Control Modules</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/1.webp">
                        <div>BMW</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/2.webp">
                        <div>Chevrolet</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/3.webp">
                        <div>Dodge</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/4.webp">
                        <div>Ford</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/5.webp">
                        <div>GMC</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/6.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/7.webp">
                        <div>Jeep</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/8.webp">
                        <div>Mercedes-Benz</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/9.webp">
                        <div>Nissan</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/car-truck-parts/air-conditioning-heating/blowers-fans/makes/10.webp">
                        <div>Toyota</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
