<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Air-Conditioning-Heating">Air Conditioning & Heating</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Heater Cores</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Heater Cores</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Air-Conditioning-Heating">Air Conditioning & Heating</a>
                    </li>
                    <li class="actual">
                        <a>Heater Cores</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Compressors-Clutches">A/C Compressors & Clutches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Condensers">A/C Condensers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Evaporators">A/C Evaporators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Expansion-Valves">A/C Expansion Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Hoses-Fittings">A/C Hoses & Fittings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Pressure-Switches">A/C Pressure Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-A-C-Receiver-Dryers-Accumulators">A/C Receiver Dryers & Accumulators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Blowers-Fans">Blowers & Fans</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Cabin-Air-Filters">Cabin Air Filters</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Heater-Control-Valves">Heater Control Valves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Control-Unit-Parts">HVAC Control Unit Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Controls-Control-Units">HVAC Controls & Control Units</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Temperature-Sensors">HVAC Temperature Sensors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Vent-Actuators">HVAC Vent Actuators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Truck-Air-Conditioning-Heating">Other Air Conditioning & Heating</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
