<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Air-Conditioning-Heating">Air Conditioning & Heating</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Blowers-Fans">Blowers & Fans</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>HVAC Blower Modules & Resistors</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck HVAC Blower Module & Resistor</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Blowers-Fans">Blowers & Fans</a>
                    </li>
                    <li class="actual">
                        <a>HVAC Blower Modules & Resistors</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-HVAC-Blower-Motor-Wheel">HVAC Blower Motors & Wheels</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Additional-Blower-Fan-Parts">Additional Blower & Fan Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
