<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>DIY for Speakers & Subwoofers</a>
        </div>
    </div>
    <div class="title">
        <h1>Car Speaker & Subwoofer Installation Equipment</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/In-Car-Technology-GPS-Security-Devices">In-Car Technology, GPS & Security</a>
                    </li>
                    <li class="actual">
                        <a>DIY for Speakers & Subwoofers</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Adapter-Rings">Adapter Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Carpets">Carpets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Speaker-Subwoofer-Enclosures-for-Cars">Enclosures</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Grills-Guards">Grills & Guards</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Insulation-Equipment">Insulation</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Speaker-Subwoofer-Rear-Shelf-Installation-Products">Rear Shelves</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-Car-Speaker-Subwoofer-Installation-Equipment">Other Speakers & Subwoofers DIY</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">            
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/Car-Speaker-Subwoofer-Insulation-Equipment">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/categories/1.webp">
                        <div>Insulation</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Speaker-Subwoofer-Carpets">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/categories/2.webp">
                        <div>Carpets</div>
                    </a>
                    <a class="item" routerLink="/c/Speaker-Subwoofer-Enclosures-for-Cars">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/categories/3.webp">
                        <div>Enclosures</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Speaker-Subwoofer-Grills-Guards">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/categories/4.webp">
                        <div>Grills & Guards</div>
                    </a>
                    <a class="item" routerLink="/c/Car-Speaker-Subwoofer-Adapter-Rings">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/categories/5.webp">
                        <div>Adapter Rings</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Shop by Brand</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/brands/1.webp">
                        <div>Dynamat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/brands/2.webp">
                        <div>Westin</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/brands/3.webp">
                        <div>Rockville</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/brands/4.webp">
                        <div>DEI</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/in-car-technology-gps-security-devices/diy-speakers-subwoofers/brands/5.webp">
                        <div>Stinger</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
