<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Engine Cooling</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Engine Cooling</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
                    </li>
                    <li class="actual">
                        <a>Engine Cooling</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Engine-Clamps-Hardware">Clamps & Hardware</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Engine-Expansion-Overflow-Tanks">Expansion & Overflow Tanks</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Engine-Fans-Fan-Parts">Fans & Fan Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Engine-Gaskets-Seals-O-Rings">Gaskets, Seals & O-Rings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Engine-Oil-Coolers-Lines">Oil Coolers & Lines</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Engine-Pipes-Hoses">Pipes & Hoses</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Radiator-Coolant-Reservoir-Caps">Radiator & Coolant Reservoir Caps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Engine-Radiators">Radiators</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Engine-Temperature-Sensors-Switches">Temperature Sensors & Switches</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Engine-Thermostats-Housings">Thermostats & Housings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Water-Pumps">Water Pumps</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Engine-Cooling-Parts">Other Engine Cooling Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Engine-Radiators">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/1.webp">
                        <div>Radiators</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Engine-Fans-Fan-Parts">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/2.webp">
                        <div>Fans & Fan Parts</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Water-Pumps">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/3.webp">
                        <div>Water Pumps</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Engine-Thermostats-Housings">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/4.webp">
                        <div>Thermostats & Housings</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Engine-Pipes-Hoses">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/5.webp">
                        <div>Pipes & Hoses</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Engine-Oil-Coolers-Lines">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/6.webp">
                        <div>Oil Coolers & Lines</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Radiator-Coolant-Reservoir-Caps">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/7.webp">
                        <div>Radiator & Coolant Reservoir Caps</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Engine-Expansion-Overflow-Tanks">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/8.webp">
                        <div>Expansion & Overflow Tanks</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Engine-Gaskets-Seals-O-Rings">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/9.webp">
                        <div>Gaskets, Seals & O-Rings</div>
                    </a>
                    <a class="item" routerLink="/c/ATV-Side-by-Side-UTV-Engine-Temperature-Sensors-Switches">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/categories/10.webp">
                        <div>Temperature Sensors & Switches</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/engine-cooling/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
