<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Parts-Accessories">Car & Truck Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Engines-Engine-Parts">Engines & Engine Parts</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Car-Truck-Timing-Components-Kits">Timing Components & Kits</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Timing Kits</a>
        </div>
    </div>
    <div class="title">
        <h1>Car & Truck Engine Timing Kits</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/Car-Truck-Timing-Components-Kits">Timing Components & Kits</a>
                    </li>
                    <li class="actual">
                        <a>Timing Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Guide-Rails">Guide Rails</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Sprockets">Sprockets</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Tensioners-Pulleys">Tensioners & Pulleys</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Timing-Belts">Timing Belts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Timing-Chains">Timing Chains</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Car-Truck-Timing-Covers">Timing Covers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            //TODO -> app items
        </div>
    </div>
</div>
