<div class="main-container">
    <div class="top-menu">
        <div class="link">
            <a routerLink="/">CipherShop</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Motors">Motors</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/Auto-Parts-Accessories">Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Parts-Accessories">ATV, Side-by-Side & UTV Parts & Accessories</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="link">
            <a routerLink="/c/ATV-Side-by-Side-UTV-Transmission-Drivetrain">Transmission & Drivetrain</a>
        </div>
        <div class="next">
            <mat-icon>chevron_right</mat-icon>
        </div>
        <div class="actual">
            <a>Axle Housings & Parts</a>
        </div>
    </div>
    <div class="title">
        <h1>ATV, Side-by-Side & UTV Axle Housings & Parts</h1>
    </div>
    <div class="content-container">
        <div class="side-menu">
            <div>
                <h2>Shop by Category</h2>
                <ul>
                    <li class="main">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Transmission-Drivetrain">Transmission & Drivetrain</a>
                    </li>
                    <li class="actual">
                        <a>Axle Housings & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Axles">Axles</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Bearings">Bearings</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Clutch-Parts-Kits">Clutch Parts & Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-CV-Axle-Assemblies">CV Axle Assemblies</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-CV-Joints-Boots-Parts">CV Joints, Boots & Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Differentials">Differentials</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Differential-Parts">Differential Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Final-Primary-Drive-Parts-Kits">Final & Primary Drive Parts & Kits</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Gaskets-Seals">Gaskets & Seals</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Gearboxes-Transmissions">Gearboxes & Transmissions</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/ATV-Side-by-Side-UTV-Gearbox-Transmission-Parts">Gearbox & Transmission Parts</a>
                    </li>
                    <li class="secondary">
                        <a routerLink="/c/Other-ATV-Side-by-Side-UTV-Transmission-Drivetrain-Parts">Other Transmission & Drivetrain Parts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="categories">
                <h2>Shop by Category</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/categories/1.webp">
                        <div>Axle Nuts</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/categories/2.webp">
                        <div>Bearing Carriers</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/categories/3.webp">
                        <div>Bearing Hubs</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/categories/4.webp">
                        <div>Bearings Kits</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/categories/5.webp">
                        <div>Joint Sets</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="makes">
                <h2>Parts for Popular Makes</h2>
                <div class="items">
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/1.webp">
                        <div>Polaris</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/2.webp">
                        <div>Can-Am</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/3.webp">
                        <div>Honda</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/4.webp">
                        <div>Yamaha</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/5.webp">
                        <div>Kawasaki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/6.webp">
                        <div>Arctic Cat</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/7.webp">
                        <div>Suzuki</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/8.webp">
                        <div>CF-Moto</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/9.webp">
                        <div>Kubota</div>
                    </a>
                    <a class="item" routerLink="">
                        <img src="assets/categories/motors/parts-accessories/atv-side-by-side-utv-parts/transmission-drivetrain/axle-housings-parts/makes/10.webp">
                        <div>John Deere</div>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            //TODO -> app items
        </div>
    </div>
</div>
